@import 'https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/8.0.0/sanitize.min.css';
@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

@tailwind base;

@tailwind components;

.button-primary {
  @apply bg-PurpleDark;
  @apply text-white;
  @apply px-8;
  @apply rounded-full;
  box-shadow: 0px 4px 4px theme('colors.GrayLight');
  transition: all ease 0.3s;
}

.button-primary:hover {
  @apply bg-PurpleLight;
  transition: all ease 0.3s;
}

.button-primary:disabled {
  @apply bg-PurpleDark;
  transition: all ease 0.3s;
}
.button-primary:focus {
  @apply outline-none;
}

.button-illustration {
  outline: none;
  border-radius: 20px;
  float: center;
  color: theme('colors.white');
  box-shadow: 0px 4px 4px theme('colors.GrayLight');
  transition: all ease 0.3s;
  margin-top: -1rem;
  background-color: theme('colors.PurpleDark');
  width: fit-content;
  height: 2rem;
}

.button-illustration:hover {
  @apply bg-PurpleLight;
}

.button-illustration:focus {
  @apply outline-none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color:  theme('colors.text');
  -webkit-box-shadow: 0 0 0 30px theme('colors.Background') inset !important;
}

.spinner {
  position: relative;
  color: transparent !important;
  pointer-events: none;
}

.spinner::after {
  content: '';
  position: absolute !important;
  top: calc(50% - (1.5em / 2));
  left: calc(50% - (1.5em / 2));
  display: block;
  width: 1.5em;
  height: 1.5em;
  border: 3px solid theme('colors.text');
  border-radius: 9999px;
  border-right-color: transparent;
  border-top-color: transparent;
  animation: spinAround 500ms infinite linear;
}

.tooltip {
  background-color: theme('colors.tooltipBackground');
  border-radius: 10px;
  color: theme('colors.black');
  text-align: center;
  font-size: 18px;
  padding: 0 1rem;
}

@keyframes spinAround {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v29/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYA.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v29/TK3_WkUHHAIjg75cFRf3bXL8LICs18NvsUZiYA.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v29/TK3_WkUHHAIjg75cFRf3bXL8LICs1y9osUZiYA.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/oswald/v29/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZosUZiYA.ttf) format('truetype');
}
* {
  font-family: 'Oxygen', sans-serif;
}
button {
  box-shadow: 0px 4px 4px theme('colors.GrayLight');
}

:root {
  --white: #FFFFFF;
  --black: #000000;
  --gray: #F5F5F5;
  --tooltip-background: #b3b3b3;
  --red: #f44336;
  --light-red: #f66055;
  --server-status-stopped: #f44336;
  --server-status-running: #4caf50;
  --server-status-loading: #ffeb3b;
  --server-status-erroring: #f44336;
  --line-height-loose: 30;
}

.light-theme {
  --background: #FFFFFF;
  --purple-lighter: #cdb8db;
  --purple-light: #7c5b8f;
  --purple-dark: #644a73;
  --gray-lighter: #E2E2E2;
  --gray-light: #E2E2E2;
  --gray-dark: #b3b3b3;
  --gray-darker: #545454;
  --shadow: #E2E2E2;
  --text: black;
}

.dark-theme {
  --background: #1f1f1f;
  --purple-lighter: #dccde5;
  --purple-light: #9170a9;
  --purple-dark: #835e9c;
  --gray-lighter: #333333;
  --gray-light: #303030;
  --gray-dark: #474747;
  --gray-darker: #c7c7c7;
  --shadow: black;
  --text: white;
}
@tailwind utilities;
