<template>
  <div class="flex flex-col bg-gray-200 m-5">
    <p class="text-PurpleLight text-left text-1xl py-2 mb-3 subtitle">{{ $t('edit_server.information') }}</p>

    <div class="grid-container-edit">
      <form class="grid-item-edit">
        <div class="mb-4 text-left">
          <custom-input
            :disabled="!submitMode"
            :error="fieldsErrors.name"
            type="text"
            name="name"
            v-model.trim="$v.name.$model"
            :model="$v.name"
          />
        </div>
      </form>
      <button class="modify" :class="{ 'bg-ServerStatus-running': submitMode, 'bg-GrayLight': !submitMode, 'spinner': isLoading }" @click="attemptServerNameEdit()">
        <i v-if="submitMode && !isLoading" class="material-icons icon modify-icon">save</i>
        <i v-if="!submitMode" class="material-icons icon modify-icon">create</i>
      </button>
    </div>

    <div class="grid-container mb-10">
      <div class="grid-item">{{ $t('server_control.name_game') }} {{ server.game.name }}</div>
      <div class="grid-item">{{ $t('server_control.version') }} {{ server.game.version }}</div>
      <div class="grid-item">{{ $t('server_control.creation_date') }} {{ moment(server.createdAt).format('YYYY-MM-DD') }}</div>
    </div>

    <div class="mb-4 warning">
        <h3 class="ml-3 mt-3 text-ServerStatus-erroring">{{ $t('action.remove_server') }}</h3>
        <p class="ml-3 mt-3 message text-GrayDarker">{{ $t('edit_server.message') }}</p>
        <button class="px-10 remove-button" @click="deleteServer()">
          <p class="integration-button" >{{ $t('action.delete') }}</p>
        </button>
      </div>
  </div>
</template>

<script>
import validationMessage from '../validationMapping'
import { required } from 'vuelidate/lib/validators'
import tailwindConfig from './../../tailwind.config'

export default {
  name: 'EditServer',
  data: function() {
    return {
      server: null,
      errors: [],
      successes: [],
      fieldsErrors: {},
      isLoading: false,
      submitMode: false,
      name: ''
    }
  },
  validations: {
    name: {
      required
    }
  },
  apollo: {
    server: {
      query: require('../graphql/server/singleServerOfMine.gql'),
      subscribeToMore: {
        document: require('../graphql/server/singleServerUpdateSubscription.gql'),
        variables() {
          return {
            id: this.$route.params.id
          }
        },
        updateQuery: (previous, { subscriptionData }) => {
          return {
            me: {
              __typename: 'User',
              servers: [Object.assign(previous.me.servers[0], subscriptionData.data.gameServer.node)]
            }
          }
        }
      },
      variables() {
        return {
          id: this.$route.params.id
        }
      },
      update: data => data.me.servers[0]
    }
  },
  mounted() {
    this.$store.dispatch('servers/selectServer', this.server)
    this.$apollo.query({
      query: require('../graphql/server/singleServerOfMine.gql'),
      variables: {
        id: this.$route.params.id
      }
    }).then(response => {
      if(response.data.me) {
        this.server = response.data.me.servers[0]
        this.name = this.server.name
      }
    })
  },
  methods: {
    attemptServerNameEdit() {
      if(this.submitMode) {
        this.isLoading = true

        if(this.$v.$invalid) {
          this.errors = [
            'FIX_ERRORS'
          ]
          this.fieldsErrors = {
            name: validationMessage(this.$v.name)
          }
          this.isLoading = false
          return
        }
        this.$store.dispatch('servers/updateServer', {
          name: this.name,
          id: this.$route.params.id
        })
          .then((response) => {
            this.$store.dispatch('servers/selectServer', response)
            if(response) {
              this.isLoading = false
              this.submitMode = false
              this.$v.$reset()
            }
          })
          .catch(error => {
            console.error(error)
            this.isLoading = false
          })
      }

      this.submitMode = true
    },
    deleteServer() {
      this.$swal({
        title: this.$t('action.delete_server'),
        text: this.$t('action.delete_message'),
        showCancelButton: true,
        confirmButtonText: this.$t('action.yes'),
        cancelButtonText: this.$t('action.cancel'),
        confirmButtonColor: tailwindConfig.theme.colors.Bouton.Next,
        cancelButtonColor: tailwindConfig.theme.colors.Bouton.Cancel,
        showCloseButton: false,
        showLoaderOnConfirm: true
      }).then((result) => {
        if(result.value) {
          return new Promise((resolve, reject) => {
            this.$apollo.mutate({
              mutation: require('../graphql/server/deleteServer.gql'),
              variables: {
                id: this.$route.params.id
              }
            }).then(response => {
              this.$router.push({ name: 'MyServers', query: { action: 'delete', id: this.$route.params.id } })
              this.$emit('onDeleteServer', response.data.deleteGameServer.id)
              resolve(response.data.deleteGameServer.id)
            }).catch(error => {
              reject(error)
            })
          })
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
input {
  float: left;
  position: relative;
  transform: translateY(30%);
  left: 0.5rem;
  background: transparent;
  width: 90%;
  -webkit-text-fill-color:  theme('colors.GrayDarker');
}
input:focus, textarea {
  -webkit-text-fill-color:  theme('colors.text');
  -webkit-box-shadow: 0 0 0 30px theme('colors.GrayLight') inset !important;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  text-align: left;
}
.grid-container-edit {
  display: grid;
  grid-template-columns: 95% 5%;
}
.grid-item-edit {
  text-align: left;
}
p.normal {
  position: relative;
  font-weight: normal;
  font-size: 20px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
}
.modify {
  width: 90%;
  height: 2.5rem;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-left: 0.5rem;
}
.modify-icon {
  font-size: 26px;
  color: theme('colors.text');
  position: relative;
  text-align: center;
  top: 0.3rem;
  cursor: pointer;
}
.search {
  width: 100%;
  height: 2.5rem;
  border-radius: 15px;
}
.search-icon {
  font-size: 26px;
  float: left;
  position: relative;
  transform: translateY(40%);
  left: 0.5rem;
  padding-right: 0.5rem !important;
}
button {
  border-radius: 20px;
  float: right;
  height: 0.5rem;
  color: theme('colors.white');
  transition: all ease 0.3s;
  outline: none;
  right: 0;
}
button:hover {
  opacity: 0.50;
}
h3 {
  text-align: left;
}
.remove-button {
  border-radius: 0px;
  position: relative;
  height: 2rem;
  line-height: normal;
  margin-top: 1rem;
  float: left;
  left: 0.5rem;
  bottom: 0.5rem;
  background-color: theme('colors.Red');
}
.remove-button:hover {
  background-color: theme('colors.LightRed');
}
.warning {
  position: relative;
  width: 100%;
  border: 1px;
  border-style: solid;
  float: left;
  border-color: theme('colors.GrayLight');
  background-color: theme('colors.GrayLight');
}
.message {
  text-align: justify;
  position: relative;
  left: 0rem;
  right: 0rem;
}

@media screen and (max-width:700px){
  input {
    width: 70%;
  }
  .grid-container {
    grid-template-columns: auto;
  }
  .permission{
    display: none;
  }
  .grid-container-edit {
    grid-template-columns: 85% 15%;
  }
  .remove-button {
    bottom: 0.5rem;
  }
  .warning {
    width: 100%;
    height: 100%;
  }
  .message {
    margin-right: 0.5rem;
  }
}
</style>
