<template>
  <div class="flex flex-col bg-gray-200 m-5">
    <form class="w-full">
      <div class="mb-4 text-left">
        <custom-input
          class="text-left text-1xl py-2"
          :label="$t('profile.username')"
          :disabled="!submitMode"
          :error="fieldsErrors.username"
          type="text"
          name="username"
          v-model.trim="$v.username.$model"
          :model="$v.username"
        />
        <custom-input
          class="text-left text-1xl py-2"
          :label="$t('profile.email')"
          :disabled="!submitMode"
          :error="fieldsErrors.email"
          type="text"
          name="email"
          v-model.trim="$v.email.$model"
          :model="$v.email"
        />
        <custom-input
          class="text-left text-1xl py-2"
          :label="$t('profile.password')"
          :disabled="!submitMode"
          :error="fieldsErrors.password"
          type="password"
          name="password"
          v-model.trim="$v.password.$model"
          :model="$v.password"
        />
        <custom-input
          class="text-left text-1xl py-2"
          :label="$t('profile.confirm_password')"
          :disabled="!submitMode"
          :error="fieldsErrors.passwordConfirm"
          type="password"
          name="confirm_password"
          v-model.trim="$v.passwordConfirm.$model"
          :model="$v.passwordConfirm"
        />
      </div>
    </form>
    <div class="flex items-center justify-end">
      <button v-if="submitMode" class="px-8 bg-GrayDark" @click="cancelEditting">
        <p class="status-button" >{{ $t('action.cancel') }}</p>
      </button>
      <button class="px-8" :class="{ 'bg-ServerStatus-running': submitMode, 'bg-PurpleLight': !submitMode, 'spinner': isLoading }" @click="attemptProfileEdit">
        <p class="status-button" >{{ submitMode ? $t('action.submit') : $t('action.modify') }}</p>
      </button>
    </div>
  </div>
</template>

<script>
import validationMessage from '../validationMapping'
import { required, email, requiredIf, sameAs } from 'vuelidate/lib/validators'

export default {
  name: 'Profile',
  data: function() {
    return {
      errors: [],
      successes: [],
      fieldsErrors: {},
      isLoading: false,
      submitMode: false,
      username: '',
      email: '',
      password: '',
      passwordConfirm: ''
    }
  },
  validations: {
    username: {
      required
    },
    email: {
      required,
      email
    },
    password: {},
    passwordConfirm: {
      required: requiredIf('password'),
      sameAs: sameAs('password')
    }
  },
  mounted() {
    this.username = this.$store.state.auth.user.username
    this.email = this.$store.state.auth.user.email
  },
  methods: {
    attemptProfileEdit() {
      if(this.submitMode) {
        this.isLoading = true

        if(this.$v.$invalid) {
          this.errors = [
            'FIX_ERRORS'
          ]
          this.fieldsErrors = {
            email: validationMessage(this.$v.email),
            username: validationMessage(this.$v.username),
            password: validationMessage(this.$v.password),
            passwordConfirm: validationMessage(this.$v.passwordConfirm)
          }
          this.isLoading = false
          return
        }

        this.$store.dispatch('auth/updateUser', {
          username: this.modifiedUsername,
          email: this.modifiedEmail,
          password: this.password
        })
          .then((response) => {
            if(response) {
              this.isLoading = false
              this.submitMode = false
              this.$v.$reset()

              this.password = ''
              this.passwordConfirm = ''
            }
          })
          .catch(error => {
            console.error(error)
            this.isLoading = false

            error.graphQLErrors.map(({ extensions }) => {
              this.errors = Object.values(extensions)

              if(this.errors.includes('EMAIL_ALREADY_USED')) {
                this.fieldsErrors.email = this.$t('errors.EMAIL_ALREADY_USED')
              } else {
                this.fieldsErrors = {
                  username: true,
                  email: true,
                  password: true,
                  passwordConfirm: true
                }
              }
            })
          })
      }

      this.submitMode = true
    },
    cancelEditting: function() {
      this.submitMode = false

      this.username = this.$store.state.auth.user.username
      this.email = this.$store.state.auth.user.email
      this.password = ''
      this.passwordConfirm = ''
    }
  },
  computed: {
    modifiedUsername: function() {
      return this.username !== this.$store.state.auth.user.username ? this.username : ''
    },
    modifiedEmail: function() {
      return this.email !== this.$store.state.auth.user.email ? this.email : ''
    }
  }
}
</script>

<style lang="less" scoped>
button {
  border-radius: 20px;
  float: right;
  height: 2rem;
  color: theme('colors.white');
  box-shadow: 0px 4px 4px theme('colors.Background');
  transition: all ease 0.3s;
  outline: none;
  width: 10rem;
  right: 0rem;
  margin-right: 0.5rem;
}
.status-button {
  font-size: 19px;
}
</style>
