<template>
  <div class="">
    <div class="tab__header">
        <a class="tab__link cursor-pointer p-4 block bg-GrayLight hover:bg-blue-darker no-underline text-text border-white flex justify-between" @click.prevent="active = !active">{{title}}
          <span class="down-Arrow icon flex flex-row items-center justify-center" v-show="!active"><i class="material-icons">keyboard_arrow_left</i></span>
          <span class="up-Arrow icon flex flex-row items-center justify-center" v-show="active"><i class="material-icons">keyboard_arrow_down</i></span>
        </a>
    </div>
    <div class="tab__content p-2" v-show="active"><slot /></div>
  </div>
</template>

<script>
export default {
  name: 'ServerPreferences',
  props: {
    title: String
  },
  data() {
    return {
      active: false
    }
  }
}
</script>
