<template>
  <div>
    <transition name="fade">
      <div v-if="errors && errors.length > 0" class="bg-Red mb-5 p-3 text-white rounded">
        <p v-for="error in errors" :key="error">{{ $t('errors.' + error) }}</p>
      </div>
    </transition>
    <transition name="fade">
      <div v-if="successes && successes.length > 0" class="bg-PurpleLight mb-5 p-3 text-white rounded">
        <p v-for="success in successes" :key="success">{{ $t('errors.' + success) }}</p>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'AlertsDisplay',
  props: {
    errors: {
      type: Array
    },
    successes: {
      type: Array
    }
  }
}
</script>

<style lang="less" scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
