<template>
  <div class="flex flex-row bg-gray-200 w-full" id="auth">
    <language-selector class="language-selector"/>
    <div class="form-container flex-1 px-3 mx-5 w-full lg:w-1/3">
      <form class="w-full max-w-sm connexion-form" method="post" novalidate>
        <div class="text mb-10">
          <p class="text-PurpleDark text-left text-5xl uppercase app-name">{{ $t('app_name') }}</p>
          <p class="text-PurpleLight text-left text-2xl leading-relaxed page-title">{{ title }}</p>
        </div>

        <slot>
          <!-- The content of the page will be injected here -->
        </slot>
      </form>
      <footer-component></footer-component>
    </div>
    <div class="image-container flex w-0 lg:w-2/3">
      <img :src="`//cdn.odeyr.org/logo/logo-high-2048-text-right-${$t('current_language.short')}.png`" alt="background-image"/>
    </div>
  </div>
</template>

<script>
import FooterComponent from './Footer'
export default {
  name: 'AuthTemplate',
  components: {
    FooterComponent
  },
  props: {
    title: String
  }
}
</script>

<style lang="less" scoped>
#auth {
  flex: 1;
  .language-selector {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    form {
      min-height: calc(100vh - 80px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 40px;
    }
    input {
      background: transparent;
    }
  }
  .image-container {
    background-image: url('//cdn.odeyr.org/backgrounds/login-background.svg');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    img {
      width: 70%;
    }
  }

  @media screen and (max-width: 900px) {
    .language-selector {
      display: none;
    }
    .app-name{
      font-size: 2rem;
    }
    .page-title{
      font-size: 1.3rem;
    }
  }
}
</style>
