<template>
  <div class="cookie-banner">
    <div v-if="isCookieBannerShown || isCookieBannerShown === null" class="banner dark uk-alert col-all-12" uk-alert>
      <a class="uk-alert-close" uk-close @click="hideCookieBanner"></a>
      <i class="fas fa-cookie"></i>
      <div class="text col-mdmobile-10 col-smobile-10">
        <p class="primary">{{ $t('cookie-enhance-user-experience') }}</p>
        <p class="primary">{{ $t('complete-overview-privacy-policy') }} <a href="//leafcad.com/terms#privacy-policy">{{ $t('privacy-policy') }}</a></p>
      </div>
      <button class="primary-full col-mdmobile-10 col-smobile-10" @click="hideCookieBanner">{{ $t('accept') }}</button>
    </div>
  </div>
</template>
<style scoped src="@/assets/css/components/cookie-banner.css"></style>

<script>
import { mapState } from 'vuex'

export default {
  name: 'CookieBanner',
  computed: {
    ...mapState('cookieBanner', [
      'isCookieBannerShown'
    ])
  },
  methods: {
    hideCookieBanner: function() {
      this.$store.dispatch('cookieBanner/setCookieBannerVisible', false)
    }
  }
}
</script>
