<template>
  <div class="mb-5 text-left">
    <label class="text-text text-left leading-loose transition-ease" :class="{ 'text-Red': currentError }" :for="name">{{ label }}</label>
    <div v-if="type !== 'combobox'">
      <div class="flex items-center border-b border-b-2 py-1 input-wrapper" :class="{ 'border-Red': currentError }">
        <input
          class="text-appearance-none bg-transparent border-none w-full py-1 px-2 leading-tight focus:outline-none transition-ease"
          :class="{ invalid: currentError }"
          :required="required"
          :placeholder="placeholder"
          :name="name"
          :type="type"
          :min="min"
          :max="max"
          :disabled="disabled"
          v-model.lazy="computedValue"
          :autocomplete="autocomplete"
          :spellcheck="spellcheck"
        />
      </div>
    </div>

    <div v-if="type === 'combobox'">
      <div class="dropdown inline-block relative py-1 w-full">
        <button class="bg-gray-300 text-text py-2 px-4 rounded inline-flex flex-row shadow w-full xl:w-2/5" @click="opened = !opened" v-click-outside="() => { opened = false }">
          <span class="mr-1">{{ value ? options.filter(option => value === option.value)[0].displayValue :  $t("action.select") }}</span>
          <span class="down-Arrow icon fill-current h-4 w-4 mt-1 flex flex-1 chevron justify-end items-end"><i class="material-icons">keyboard_arrow_down</i></span>
        </button>
        <ul class="dropdown-menu absolute hidden shadow w-full xl:w-1/3" v-if="opened">
          <li class="" v-for="option in options" :key="option.value"><a class="bg-Background hover:bg-GrayLighter cursor-pointer py-2 px-4 block whitespace-no-wrap shadow" :class="{ 'selected': (value === option.value) }" @click="$emit('input', option.value)">{{ option.displayValue }}</a></li>
        </ul>
      </div>
    </div>

    <transition name="fade">
      <p v-if="currentError && typeof(currentError) != 'boolean'" class="text-Red text-xs mt-1 absolute">{{ currentError }}</p>
    </transition>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'
import validationMessage from '../validationMapping'

export default {
  name: 'CustomInput',
  props: {
    label: String,
    name: String,
    type: String,
    options: Array,
    required: String,
    min: Number,
    max: Number,
    value: [String, Number, Boolean],
    disabled: Boolean,
    model: Object,
    placeholder: String,
    autocomplete: {
      type: String,
      default: ''
    },
    spellcheck: {
      type: String,
      default: 'inherit'
    },
    error: [String, Boolean]
  },
  data() {
    return {
      opened: false,
      currentError: ''
    }
  },
  directives: {
    ClickOutside
  },
  methods: {
    validateField() {
      if(this.model) { this.currentError = validationMessage(this.model) }
    }
  },
  computed: {
    computedValue: {
      get() {
        return this.value
      },
      set(value) {
        this.model.$touch()
        this.$emit('input', value)
        this.validateField()
      }
    }
  },
  watch: {
    error: function(newError, oldError) {
      this.currentError = newError
    }
  }
}
</script>

<style lang="less" scoped>
.invalid {
  border-color: theme('colors.Red');
}
.chevron {
  align-self: center;
}
.transition-ease {
  transition: all ease .3s;
}
input {
  background: transparent;
  color: theme('colors.text');
}
a.selected {
  font-weight: 700;
  color: theme('colors.text');
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 12;
}
.input-wrapper:focus-within {
  @apply border-b-2;
  padding-bottom: calc(0.25rem - 1px);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.dropdown .dropdown-menu {
  display: block;
  z-index:10;
  background: theme('colors.Shadow') !important;
  color: theme('colors.text') !important;
}
.shadow{
  box-shadow:0 2px 3px 0 theme('colors.Shadow');
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
