<template>
  <div class="footer">
    <div class="row my-2">
      <div class="_copyrights w-full text-GrayDark">
        &#169;{{ new Date().getFullYear() }} {{ $t('copyrights') }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Footer'
}
</script>
