<template>
  <div class="relative pl-16 pr-6 py-3 rounded hover:text-GrayLight floating dropdown labeled search icon button active visible" @click="isActive = !isActive" v-click-outside="() => { isActive = false }">
    <div class="icon flex flex-row items-center justify-center"><i class="material-icons">language</i></div>
    <span class="text">{{ $t(`current_language.long`) }}</span>
    <div v-if="isActive" class="menu transition visible" tabindex="-1">
      <div class="item" v-for="lang in $t('languages')" :key="lang.short" :class="{ 'active selected': lang.short == currentLang }" @click="changeLanguage(lang.short)">{{ lang.long }}</div>
    </div>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'
import { TranslationService } from '../TranslationService'

export default {
  name: 'LanguageSelector',
  data() {
    return {
      isActive: false
    }
  },
  methods: {
    changeLanguage: function(lang) {
      if(lang !== this.currentLang) {
        const currentHash = this.$route.hash
        let to = this.$router.resolve({ params: { lang } })
        to.location.hash = currentHash
        this.$i18n.locale = lang
        TranslationService.changeLanguage(lang)
        this.$router.push(to.location)
      }
    }
  },
  computed: {
    currentLang: function() {
      return this.$route.params.lang
    }
  },
  directives: {
    ClickOutside
  }
}
</script>

<style lang="less" scoped>
.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: 0;
  text-align: left;
  -webkit-transition: width .1s ease, -webkit-box-shadow .1s ease;
  transition: width .1s ease, -webkit-box-shadow .1s ease;
  transition: box-shadow .1s ease, width .1s ease;
  transition: box-shadow .1s ease, width .1s ease, -webkit-box-shadow .1s ease;
  -webkit-tap-highlight-color: transparent;
}
.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  max-height: 3rem;
  outline: 0;
  border: none;
  vertical-align: baseline;
  background: theme('colors.PurpleLight') none;
  background-image: none;
  color: theme('colors.white');
  text-transform: none;
  text-shadow: none;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 theme('colors.GrayLight') inset;
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 theme('colors.GrayLight') inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity .1s ease, background-color .1s ease, color .1s ease,background .1s ease, -webkit-box-shadow .1s ease;
  transition: opacity .1s ease, background-color .1s ease, color .1s ease,background .1s ease, -webkit-box-shadow .1s ease;
  transition: opacity .1s ease, background-color .1s ease, color .1s ease,box-shadow .1s ease, background .1s ease;
  transition: opacity .1s ease, background-color .1s ease, color .1s ease,box-shadow .1s ease, background .1s ease, -webkit-box-shadow .1s ease;
  will-change: '';
  -webkit-tap-highlight-color: transparent;
}
.labeled.icon.button > .icon, .labeled.icon.buttons > .button > .icon {
  top: 0;
  left: 0;
}
.labeled.icon.button > .icon, .labeled.icon.buttons > .button > .icon {
  position: absolute;
  height: 100%;
  line-height: 1;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  text-align: center;
  margin: 0;
  width: 2.57142857em;
  background-color: theme('colors.PurpleDark');
  -webkit-box-shadow: -1px 0 0 0 transparent inset;
  box-shadow: -1px 0 0 0
  transparent inset;
}
.icon.button > .icon, .icon.buttons .button > .icon {
  opacity: .9;
  margin: 0 !important;
  vertical-align: top;
}
.button > .icon:not(.button) {
  height: .85714286em;
  opacity: .8;
  margin: 0 .42857143em 0 -.21428571em;
  -webkit-transition: opacity .1s ease;
  transition: opacity .1s ease;
  vertical-align: '';
  color: theme('colors.white');
}
i.icon, i.icons {
  font-size: 1em;
}
i.icon {
  display: inline-block;
  opacity: 1;
  margin: 0 .25rem 0 0;
  width: 1.18em;
  height: 1em;
  text-decoration: inherit;
  text-align: center;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
.search.dropdown.active > .text, .search.dropdown.visible > .text {
  pointer-events: none;
}
.search.dropdown > .text {
  cursor: text;
  position: relative;
  z-index: 3;
}
.dropdown > .text {
  display: inline-block;
  -webkit-transition: none;
  transition: none;
}
.floating.dropdown > .menu {
  margin-top: .5em !important;
  border-radius: .28571429rem !important;
}
.floating.dropdown .menu {
  left: 0;
  right: auto;
  border-radius: .28571429rem !important;
}
.search.dropdown .menu {
  max-height: 21.37142857rem;
}
.search.dropdown .menu {
  max-height: 16.02857143rem;
}
.search.dropdown .menu {
  max-height: 10.68571429rem;
}
.search.dropdown .menu {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}
.button.dropdown .menu {
  min-width: 100%;
}
.dropdown .menu {
  left: 0;
}
.dropdown .menu {
  cursor: auto;
  position: absolute;
  display: none;
  outline: 0;
  top: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin: 0;
  margin-top: 0px;
  padding: 0 0;
  background: theme('colors.Background');
  font-size: 1em;
  text-shadow: none;
  text-align: left;
  border-radius: .28571429rem;
  -webkit-transition: opacity .1s ease;
  transition: opacity .1s ease;
  z-index: 11;
  will-change: transform, opacity;
}
.visible.transition {
  display: block !important;
  visibility: visible !important;
}
.transition {
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.labeled.icon.button > .icon::after, .labeled.icon.button > .icon::before, .labeled.icon.buttons > .button > .icon::after, .labeled.icon.buttons > .button > .icon::before {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.dropdown .menu .selected.item, .dropdown.selected {
  background: rgba(0,0,0,.03) !important;
  color: theme('colors.text') !important;
}
.dropdown .menu .active.item {
  background: 0 0;
  font-weight: 700;
  color: theme('colors.text');
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 12;
}
.dropdown .menu > .item:first-child {
  border-top-width: 0;
}
.dropdown .menu > .item {
  position: relative;
  cursor: pointer;
  display: block;
  border: none;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: medium;
  height: auto;
  text-align: left;
  border-top: none;
  border-top-width: medium;
  line-height: 1em;
  color: theme('colors.text');
  padding: .78571429rem 1.14285714rem !important;
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-touch-callout: none;
}
.dropdown .menu > * {
  white-space: nowrap;
}
.dropdown .menu > .item:hover {
  background: theme('colors.Shadow') !important;
  color: theme('colors.PurpleLight') !important;
  z-index: 13;
}
</style>
