<template>
  <div class="flex flex-row mt-5">
    <div class="w-full bg-GrayLight div-border">
      <StatusChip :id="server.id" class="status_icon"></StatusChip>
      <p class="flex py-3 px-2 m-1 text-text normal">
        {{ server.name + ' - ' + server.address + ':' + server.gamePort }}</p>
        <div class="floating dropdown dropdown-icon button visible" v-click-outside="closeOpenedPanels">
        <i class="material-icons dropdown-icon" @click="mainPanelActive = !mainPanelActive">more_vert</i>
          <div v-if="mainPanelActive" class="menu transition visible" tabindex="-1">
            <router-link class="item" :to="{ name: 'EditServer', params: { id: server.id } }"><i class="material-icons panel-switcher">create</i> {{ $t('action.modify') }}</router-link>
            <a class="item text-Red" @click="deleteServer()"><i class="material-icons left_icon">delete_outline</i>{{ $t('action.delete') }}</a>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'
import StatusChip from '@/components/StatusChip'
import tailwindConfig from './../../tailwind.config'

export default {
  name: 'MyServer',
  components: {
    StatusChip
  },
  data() {
    return {
      mainPanelActive: false,
      server: {}
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout').then(() => {
        this.$router.push({ name: 'Login' })
      })
    },
    closeOpenedPanels(data) {
      this.mainPanelActive = false
    },
    deleteServer() {
      this.$swal({
        title: this.$t('action.delete_server'),
        text: this.$t('action.delete_message'),
        showCancelButton: true,
        confirmButtonText: this.$t('action.yes'),
        cancelButtonText: this.$t('action.cancel'),
        confirmButtonColor: tailwindConfig.theme.colors.Bouton.Next,
        cancelButtonColor: tailwindConfig.theme.colors.Bouton.Cancel,
        showCloseButton: false,
        showLoaderOnConfirm: true
      }).then((result) => {
        if(result.value) {
          this.$emit('onDeleteServer', this.server.id)
        }
      })
    }
  },
  directives: {
    ClickOutside
  },
  props: {
    id: String
  },
  apollo: {
    server: {
      query: require('../graphql/server/singleServerOfMine.gql'),
      subscribeToMore: {
        document: require('../graphql/server/singleServerUpdateSubscription.gql'),
        variables() {
          return {
            id: this.id
          }
        },
        updateQuery: (previous, { subscriptionData }) => {
          return {
            me: {
              __typename: 'User',
              servers: [Object.assign(previous.me.servers[0], subscriptionData.data.gameServer.node)]
            }
          }
        }
      },
      variables() {
        return {
          id: this.id
        }
      },
      update: data => data.me.servers[0]
    }
  },
  mounted() {
    this.$apollo.queries.server.refetch()
  }
}
</script>

<style lang="less" scoped>
.status_icon {
  position: relative;
  transform: translateY(35%);
  left: 0.5rem;
  padding-right: 0.5rem !important;
  font-size: 30px;
  float: left;
}
.div-border {
  width: 100%;
  height: 3rem;
  border-radius: 25px;
}
p.normal {
  position: relative;
  transform: translateY(-15%);
  font-size: 20px;
  font-weight: normal;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 80%;
  display: block;
}
.dropdown-icon {
  position: relative;
  padding-top: 0.25rem !important;
  padding-right: 0.5rem !important;
  font-size: 30px;
  float: right;
  cursor: pointer;
}
.left_icon {
  i {
    position: absolute;
    transform: translateY(-15%);
    left: 0.5rem;
  }
  padding-right: 0.5rem !important;
}
.menu{
  position: absolute;
  width: 170px;
  right: 100px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.button {
  display: inline-block;
  min-height: 1em;
  max-height: 2rem;
  vertical-align: baseline;
}
.button > .icon:not(.button) {
  height: .85714286em;
  opacity: .8;
  margin: 0;
  -webkit-transition: opacity .1s ease;
  transition: opacity .1s ease;
  vertical-align: '';
  color: '';
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
.dropdown > .text {
  display: inline-block;
  -webkit-transition: none;
  transition: none;
}
.floating.dropdown .menu {
  right: 0px;
  -webkit-box-shadow: 0 2px 4px 0 theme('colors.Shadow'), 0 2px 10px 0 theme('colors.Shadow') !important;
  box-shadow: 0 2px 4px 0 theme('colors.Shadow'), 0 2px 10px 0 theme('colors.Shadow') !important;
  border-radius: .28571429rem !important;
}
.button.dropdown .menu {
  min-width: 100%;
  transform: translateY(10%);
}
.dropdown .menu {
  cursor: auto;
  position: absolute;
  display: none;
  outline: 0;
  top: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin: 0;
  margin-top: 0px;
  padding: 0 0;
  background: theme('colors.Background');
  font-size: 1em;
  text-shadow: none;
  text-align: left;
  -webkit-box-shadow: 0 2px 3px 0 theme('colors.Shadow');
  box-shadow: 0 2px 3px 0 theme('colors.Shadow');
  border: 1px solid theme('colors.Background');
  border-radius: .28571429rem;
  -webkit-transition: opacity .1s ease;
  transition: opacity .1s ease;
  z-index: 11;
  will-change: transform, opacity;
  color: theme('colors.text');
}
.visible.transition {
  display: block !important;
  visibility: visible !important;
}
.transition {
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.dropdown .menu .router-link-active.item, .dropdown.router-link-active {
  color: theme('colors.text') !important;
}
.dropdown .menu .router-link-active.item {
  background: 0 0;
  font-weight: 700;
  right: 0px;
  color: theme('colors.text');
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 12;
}
.dropdown .menu > .item:first-child {
  border-top-width: 0;
}
.dropdown .menu > .item {
  position: relative;
  cursor: pointer;
  display: block;
  border: none;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: medium;
  height: auto;
  text-align: left;
  border-top: none;
  border-top-width: medium;
  line-height: 1em;
  padding: .78571429rem 0.7rem;
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-touch-callout: none;
}
.dropdown .menu > * {
  white-space: nowrap;
}
.dropdown .menu > .item:hover {
  background: theme('colors.Shadow') !important;
  color: theme('colors.text') !important;
  z-index: 13;
}

@media screen and (max-width: 650px) and (min-width: 400px){
  p.normal {
    max-width: 70%;
  }
}
@media screen and (max-width: 400px) {
  p.normal {
    max-width: 65%;
  }
}
</style>
