<template>
  <div class="flex flex-row bg-gray-200 mt-5">
    <form class="w-full">
        <div class="div-border bg-GrayLighter">
          <i
          v-tooltip="{content: player.isOnline ? $t('player_list.player_online_status') : $t('player_list.player_offline_status')}"
          class="material-icons pl-2 pt-2 player-status"
          :class="{
            'text-ServerStatus-stopped': !player.isOnline,
            'text-ServerStatus-running': player.isOnline,
          }"
          >fiber_manual_record</i>
          <img class="avatar" :src="getMinecraftSkinHead()">
          <p class="normal text-text">{{ player.username }}</p>
          <p v-if="!mobile" class="normal text-text">- {{  $t('player_list.last_seen') }}: {{ !player.isOnline ? getLastSeen() : $t('player_list.player_currently_online') }}</p>
          <i class="material-icons icon mr-3" v-tooltip="{ content:$t('player_list.kick_player'), placement: 'left'}" v-on:click ="kickPlayer()">warning</i>
          <i class="material-icons icon" v-bind:class="{'text-GrayDark': !player.banned, 'text-GrayDarker': player.banned}"
            v-tooltip="{ content: player.banned ? $t('player_list.unban_player') : $t('player_list.ban_player'), placement: 'left'}" v-on:click ="banPlayer()">block</i>
          <i class="material-icons icon" v-bind:class="{'text-GrayDark': !player.operator, 'text-GrayDarker': player.operator}"
            v-tooltip="{content: player.operator ? $t('player_list.player_make_deop') : $t('player_list.player_make_op'), placement: 'left'}" v-on:click ="makePlayerOperator()">verified_user</i>
        </div>
    </form>
  </div>
</template>

<script>
import Vue from 'vue'
import VTooltip from 'v-tooltip'

Vue.use(VTooltip)

export default {
  name: 'PlayerCard',
  data: function() {
    return {
      serverId: this.$store.state.servers.selected.id,
      mobile: window.innerWidth <= 768
    }
  },
  created() {
    addEventListener('resize', () => {
      this.mobile = innerWidth <= 768
    })
  },
  props: {
    player: Object
  },
  methods: {
    getMinecraftSkinHead() {
      console.log(this.player)
      return 'https://crafatar.com/avatars/' + this.player.uuid
    },
    sendCommand(id, commandText) {
      return new Promise((resolve, reject) => {
        this.$apollo.mutate({
          mutation: require('../graphql/server/sendCommandToServerMutation.gql'),
          variables: {
            id,
            commandText
          }
        }).then(response => {
          resolve(response.data.createCommand.id)
        }).catch(error => {
          reject(error)
        })
      })
    },
    changePlayerStatus(serverId, playerId, isOnline, operator, banned, lastSeen) {
      return new Promise((resolve, reject) => {
        this.$apollo.mutate({
          mutation: require('../graphql/server/changePlayerStatus.gql'),
          variables: {
            serverId,
            playerId,
            isOnline,
            operator,
            banned,
            lastSeen
          }
        }).then(response => {
          resolve(response.data)
        }).catch(error => {
          reject(error)
        })
      })
    },
    kickPlayer() {
      this.sendCommand(this.serverId, 'kick ' + this.player.username)
      this.changePlayerStatus(this.serverId, this.player.id, false, this.player.operator, this.player.banned, new Date())
      this.player.isOnline = false
    },
    banPlayer() {
      if(!this.player.banned) {
        this.sendCommand(this.serverId, 'ban ' + this.player.username)
        this.changePlayerStatus(this.serverId, this.player.id, false, this.player.operator, true, new Date())
      } else {
        this.sendCommand(this.serverId, 'pardon ' + this.player.username)
        this.changePlayerStatus(this.serverId, this.player.id, false, this.player.operator, false, new Date())
      }
      this.player.banned = !this.player.banned
    },
    makePlayerOperator() {
      if(!this.player.operator) {
        this.sendCommand(this.serverId, 'op ' + this.player.username)
        this.changePlayerStatus(this.serverId, this.player.id, this.player.isOnline, true, this.player.banned, this.player.lastSeen)
      } else {
        this.sendCommand(this.serverId, 'deop ' + this.player.username)
        this.changePlayerStatus(this.serverId, this.player.id, this.player.isOnline, false, this.player.banned, this.player.lastSeen)
      }
      this.player.operator = !this.player.operator
    },
    getLastSeen() {
      let playerLastSeen = new Date(this.player.lastSeen)
      let date = playerLastSeen.getFullYear() + '-' + (playerLastSeen.getMonth() + 1) + '-' + playerLastSeen.getDate()
      let time = playerLastSeen.getHours() + ':' + playerLastSeen.getMinutes()
      return date + ' ' + time
    }
  }
}
</script>

<style lang="less" scoped>
p.normal {
  font-weight: normal;
  font-size: 20px;
  float: left;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70%;
}
.div-border {
  width: 100%;
  height: 3rem;
  border-radius: 25px;
}
.avatar {
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  float: left;
  height: 2rem;
  width: 2rem;
}
.icon {
  @apply py-3;
  @apply px-1;
  margin-bottom: auto;
  font-size: 26px;
  float: right;
  cursor: pointer;
}
.player-status {
  @apply py-3;
  @apply px-2;
  font-size: 24px;
  float: left;
  cursor: pointer;
}
.i:focus {
  outline: none;
}

@media screen and (max-width:900px) and (min-width:600px) {
  p.normal {
    max-width: 65%;
  }
}
@media screen and (max-width:600px) and (min-width:400px) {
  p.normal {
    max-width: 40%;
  }
}
@media screen and (max-width: 400px) and (min-width: 312px) {
  p.normal {
    margin-top: 0.6rem;
    max-width: 38%;
    font-size: 16px;
  }
  .icon {
    margin-right: 0.3rem;
  }
}
@media screen and (max-width: 312px) {
  .icon {
    display: none;
  }
}
</style>
