<template>
  <div class="relative floating dropdown labeled search icon button active visible on-mobile" v-click-outside="closeOpenedPanels">
    <VueGravatar
      class="rounded-full border-2 cursor-pointer panel-switcher"
      :class="mainPanelActive || languagePanelActive || themePanelActive ? 'border-PurpleLight' : ''"
      :size="40"
      :email="userEmail"
      default-img="retro"
      @click="mainPanelActive = !mainPanelActive; languagePanelActive = false; themePanelActive = false"
    />
    <div v-if="mainPanelActive && !languagePanelActive && !themePanelActive" class="menu transition visible" tabindex="-1">
      <router-link class="item left_icon" @click.native="mainPanelActive = false" :to="{ name: 'Profile' }"><i class="material-icons panel-switcher">perm_identity</i> {{ $t('profile_dropdown.profile') }}</router-link>
      <router-link class="item left_icon" @click.native="mainPanelActive = false" :to="{ name: 'MyServers' }"><i class="material-icons panel-switcher">list</i>{{ $t('profile_dropdown.my_servers') }}</router-link>
      <a class="item left_icon right_icon panel-switcher" @click="languagePanelActive = true"><i class="material-icons panel-switcher">language</i>{{ $t('language.title') }} : {{ $t('current_language.long') }}<i class="material-icons panel-switcher double-icon">keyboard_arrow_right</i></a>
      <a class="item left_icon right_icon panel-switcher" @click="themePanelActive = true"><i class="material-icons panel-switcher">invert_colors</i>{{ $t('theme.title') }} : {{ currentTheme }} <i class="material-icons panel-switcher double-icon">keyboard_arrow_right</i></a>
      <a class="item left_icon" @click="mainPanelActive = false; logout()"><i class="material-icons panel-switcher">power_settings_new</i>{{ $t('action.logout') }}</a>
    </div>
    <div v-if="languagePanelActive" class="menu transition visible" tabindex="-1">
      <a class="item left_icon" @click="languagePanelActive = false; mainPanelActive = true"><i class="material-icons">keyboard_arrow_left</i>{{ $t('language.choose_language') }}</a>
      <div class="item" v-for="lang in $t('languages')" :key="lang.short" :class="{ 'router-link-exact-active router-link-active': lang.short == currentLang }" @click="changeLanguage(lang.short)">{{ lang.long }}</div>
    </div>
    <div v-if="themePanelActive" class="menu transition visible" tabindex="-1">
      <a class="item panel-switcher left_icon" @click="themePanelActive = false; mainPanelActive = true"><i class="material-icons panel-switcher">keyboard_arrow_left</i>  {{ $t('theme.choose_theme') }}</a>
      <div class="item" v-for="theme in $t('themes')" :key="theme" :class="{ 'router-link-exact-active router-link-active': theme == currentTheme }" @click="changeTheme(theme)">{{ theme }}</div>
    </div>
  </div>
</template>

<script>
import ClickOutside from 'vue-click-outside'
import VueGravatar from 'vue-gravatar'
import { TranslationService } from '../TranslationService'

export default {
  name: 'ProfileDropdown',
  data: () => {
    return {
      mainPanelActive: false,
      languagePanelActive: false,
      themePanelActive: false
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout').then(() => {
        this.$router.push({ name: 'Login' })
      })
    },
    changeLanguage: function(lang) {
      if(lang !== this.currentLang) {
        const currentHash = this.$route.hash
        let to = this.$router.resolve({ params: { lang } })
        to.location.hash = currentHash
        this.$i18n.locale = lang
        TranslationService.changeLanguage(lang)
        this.$router.push(to.location)
      }
      this.languagePanelActive = false
    },
    changeTheme: function(theme) {
      if(theme !== this.currentTheme) {
        this.$store.dispatch('prefs/changeTheme')
      }
      this.themePanelActive = false
    },
    closeOpenedPanels(data) {
      this.mainPanelActive = false
    }
  },
  computed: {
    currentLang: function() {
      return this.$route.params.lang
    },
    currentTheme: function() {
      if(this.$store.state.prefs.isDarkTheme) {
        return this.$t('themes.dark')
      }
      return this.$t('themes.light')
    },
    userEmail: function() {
      if(this.$store.state.auth.user) return this.$store.state.auth.user.email

      return ''
    }
  },
  components: {
    VueGravatar
  },
  directives: {
    ClickOutside
  }
}
</script>

<style lang="less" scoped>
.pointer {
  cursor: pointer;
}
.right_icon {
  i {
    position: absolute;
    transform: translateY(-15%);
    right: 0.5rem;
    &.double-icon {
      right: 0.5rem !important;
      left: initial;
    }
  }
}
.left_icon {
  i {
    position: absolute;
    transform: translateY(-15%);
    left: 0.5rem;
  }
  padding-left: 2.2rem !important;
}
img {
  transition: all .2s ease;
  margin-right: 0.5rem;
  float: right;
}
.dropdown {
  position: relative;
  display: inline-block;
  width: 9.125rem;
}
.button {
  display: inline-block;
  min-height: 1em;
  max-height: 2rem;
  vertical-align: baseline;
}
.button > .icon:not(.button) {
  height: .85714286em;
  opacity: .8;
  margin: 0 .42857143em 0 -.21428571em;
  -webkit-transition: opacity .1s ease;
  transition: opacity .1s ease;
  vertical-align: '';
  color: '';
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
.dropdown > .text {
  display: inline-block;
  -webkit-transition: none;
  transition: none;
}
.floating.dropdown > .menu {
  margin-top: .5em !important;
  border-radius: .28571429rem !important;
}
.floating.dropdown .menu {
  left: -4rem;
  right: auto;
  -webkit-box-shadow: 0 2px 4px 0 theme('colors.Shadow'), 0 2px 10px 0 theme('colors.Shadow') !important;
  box-shadow: 0 2px 4px 0 theme('colors.Shadow'), 0 2px 10px 0 theme('colors.Shadow') !important;
  border-radius: .28571429rem !important;
}
.button.dropdown .menu {
  min-width: 100%;
  margin-top: 0.375rem;
}
.dropdown .menu {
  cursor: auto;
  position: absolute;
  display: none;
  outline: 0;
  top: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  width: 13rem;
  margin: 0;
  margin-top: 0px;
  padding: 0 0;
  background: theme('colors.Background');
  font-size: 1em;
  text-shadow: none;
  text-align: left;
  -webkit-box-shadow: 0 2px 3px 0 theme('colors.Shadow');
  box-shadow: 0 2px 3px 0 theme('colors.Background');
  border: 1px solid theme('colors.Background');
  border-radius: .28571429rem;
  -webkit-transition: opacity .1s ease;
  transition: opacity .1s ease;
  z-index: 11;
  will-change: transform, opacity;
}
.visible.transition {
  display: block !important;
  visibility: visible !important;
}
.transition {
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.dropdown .menu .router-link-active.item, .dropdown.router-link-active {
  background: theme('colors.Background') !important;
  color: theme('colors.text') !important;
}
.dropdown .menu .router-link-active.item {
  background: 0 0;
  font-weight: 700;
  color: theme('colors.text');
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 12;
}
.dropdown .menu > .item:first-child {
  border-top-width: 0;
}
.dropdown .menu > .item {
  position: relative;
  cursor: pointer;
  display: block;
  min-width: 12.5rem;
  border: none;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: medium;
  height: auto;
  text-align: left;
  border-top: none;
  border-top-width: medium;
  line-height: 1em;
  color: theme('colors.text');
  padding: .78571429rem 2.4rem;
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-touch-callout: none;
}
.dropdown .menu > * {
  white-space: nowrap;
}
.dropdown .menu > .item:hover {
  background: theme('colors.Shadow') !important;
  color: theme('colors.PurpleLight') !important;
  z-index: 13;
}
</style>

<style lang="less" scoped>
.div-border {
  width: 100%;
  height: 2.5rem;
  border-radius: 25px;
}
p.normal {
  margin-left: 0.5rem;
  margin-top: -0.25rem;
  font-size: 20px;
  font-weight: normal;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%;
}
.icon {
  margin-top: 0.7rem;
  margin-right: 1rem;
  font-size: 30px;
  float: right;
  color: theme('colors.Background');
}

@media screen and (max-width: 600px) {
  .floating.dropdown > .menu {
    margin-top: 2em !important;
  }
  img {
    margin-top: 2rem;
  }
  .on-mobile {
    margin-top: -2rem;
    margin-right: 0.5rem;
  }
  p.normal {
    max-width: 70%;
  }
}
</style>
