<template>
  <div class="sidebar">
    <nav class="menu bg-Background" tabindex="0">
      <div class="smartphone-menu-trigger"></div>
      <header class="logo">
        <img src="https://cdn.odeyr.org/logo/logo-high-2048.png" />
        <h2 class="text-PurpleLight uppercase">{{ $t('app_name')}}</h2>
        <h3 class="text-text mt-3 server-name">{{ selectedServer ? selectedServer.name : $t('sidemenu.select_server') }}</h3>
      </header>
      <ul class="links">
        <router-link :to="{ name: 'ServerSelection' }" tag="li" class="flex flex-row text-text mb-8 hover:text-PurpleLight">
          <i class="material-icons">{{ $route.params.id ? 'arrow_back' : 'apps' }}</i>
          <p class="pl-2 sidebar_item">{{ $route.params.id ? $t('sidemenu.back_selection') : $t('sidemenu.server_selection') }}</p>
        </router-link>
        <router-link :to="{ name: 'ServerControls', params: { id: selectedServer.id } }" tag="li" class="flex flex-row text-text hover:text-PurpleLight" v-if="selectedServer">
          <i class="material-icons">tune</i>
          <p class="pl-2 sidebar_item">{{ $t('sidemenu.server_control') }}</p>
        </router-link>
        <router-link :to="{ name: 'TelemetryInformation', params: { id: selectedServer.id } }" tag="li" class="flex flex-row text-text hover:text-PurpleLight" v-if="selectedServer">
          <i class="material-icons">square_foot</i>
          <p class="pl-2 sidebar_item">{{ $t('sidemenu.telemetry') }}</p>
        </router-link>
        <router-link :to="{ name: 'PlayersList', params: { id: selectedServer.id } }" tag="li" class="flex flex-row text-text hover:text-PurpleLight" v-if="selectedServer">
          <i class="material-icons">people</i>
          <p class="pl-2 sidebar_item">{{ $t('sidemenu.player_list') }}</p>
        </router-link>
        <router-link :to="{ name: 'ServerPreferences', params: { id: selectedServer.id } }" tag="li" class="flex flex-row text-text hover:text-PurpleLight" v-if="selectedServer">
          <i class="material-icons">settings</i>
          <p class="pl-2 sidebar_item">{{ $t('sidemenu.server_preferences') }}</p>
        </router-link>
        <router-link :to="{ name: 'MapIntegration', params: { id: selectedServer.id } }" tag="li" class="flex flex-row text-text hover:text-PurpleLight" v-if="selectedServer && server && gameTypeIsCraftBukkit">
          <i class="material-icons">explore</i>
          <p class="pl-2 sidebar_item">{{ $t('sidemenu.map_integration') }}</p>
        </router-link>
      </ul>
      <footer-component class="footer"></footer-component>
    </nav>
  </div>
</template>

<script>
import FooterComponent from './Footer'

export default {
  name: 'Sidebar',
  components: {
    FooterComponent
  },
  data() {
    return {
      server: null
    }
  },
  mounted() {
    this.fetchServer()
  },
  methods: {
    fetchServer() {
      if(this.selectedServer) {
        this.$apollo.query({
          query: require('../graphql/server/singleServerOfMine.gql'),
          variables: {
            id: this.$store.state.servers.selected.id
          }
        }).then(response => {
          if(response.data.me) {
            this.server = response.data.me.servers[0]
          }
        })
      }
    }
  },
  computed: {
    selectedServer() {
      return this.$store.state.servers.selected
    },
    gameTypeIsCraftBukkit() {
      if(!this.server) return false
      if(!this.server.game) return false
      if(!this.server.game.type) return false

      return this.server.game.type === 'CRAFTBUKKIT'
    }
  },
  watch: {
    selectedServer(newSelected, oldSelected) {
      this.server = null
      this.fetchServer()
    }
  }
}
</script>

<style lang="less" scoped>
@menu-width-desktop: 260px;
@menu-width-tablet: 90px;
@menu-width-smartphone: 230px;

i {
  align-self: center;
}
.sidebar_item {
  font-size: 20px;
}
.footer {
  width: 90%;
  align-self: center;
}
main {
  position: relative;
  height: 100vh;
  .helper {
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    padding: 1.2em 2em;
    text-align: center;
    border-radius: 20px;
    font-size: 2em;
    font-weight: bold;
    span {
      color: rgba(0, 0, 0, 0.2);
      font-size: 0.4em;
      display: block;
    }
  }
}
.menu {
  background: theme('colors.Background');
  height: 100vh;
  width: @menu-width-desktop;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  outline: none;
  display: flex;
  flex-direction: column;
  border-right: 1px solid theme('colors.GrayDark');
  .logo {
    padding: 0.5em 0em;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    img {
      margin: 0 1em 0 0.5em;
      width: 75px;
      height: 75px;
      overflow: hidden;
    }
    h2 {
      margin: 0.25em 1em 0 0;
      font-weight: bold;
      font-size: 35px;
      margin-bottom: 0;
    }
    h3 {
      font-weight: bold;
      font-size: 23px;
      margin-bottom: 0;
      flex-basis: 100%;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  ul {
    flex: 1;
    text-align: left;
    list-style: none;
    padding: 0.5em 0;
    margin: 0;
    li {
      padding: 0.5em 1em 0.5em 1.5em;
      font-size: 0.95em;
      font-weight: regular;
      background-repeat: no-repeat;
      background-position: left 15px center;
      background-size: auto 10px;
      transition: all 0.15s linear;
      cursor: pointer;
      &.router-link-exact-active {
        border-right: 6px solid theme('colors.PurpleLight');
        padding-right: calc(1em - 6px);
      }
      &:hover {
        background-color: theme('colors.GrayLight');
      }
      &:focus {
        outline: none;
      }
    }
  }
}

.server-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width:900px) and (min-width:600px) {
  .menu {
    width: @menu-width-tablet;
    .logo {
      padding: 0.5em;
      position: relative;
      img {
        width: @menu-width-tablet - 30px;
        height: @menu-width-tablet - 30px;
        margin-left: 7px;
      }
      h2 {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: @menu-width-tablet + 10px;
        margin: 0;
        min-width: 200px;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.4);
        transform: translate3d(-20px, -50%, 0);
        transition: all 0.15s ease-in-out;
      }
      h3 {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: @menu-width-tablet + 10px;
        margin: 0;
        min-width: 200px;
        border-radius: 4px;
        background: rgba(0, 0, 0, 0.4);
        transform: translate3d(-20px, -50%, 0);
        transition: all 0.15s ease-in-out;
      }
    }
    ul {
      li {
        padding: 0.5em 1em 0.5em 2em;
        height: @menu-width-tablet/1.5;
        background-position: center center;
        background-size: 30px auto;
        position: relative;
        p {
          display: none;
        }
        span {
          display: none;
          opacity: 0;
          position: absolute;
          background: rgba(0, 0, 0, 0.5);
          padding: 0.2em .5em;
          border-radius: 4px;
          top: 50%;
          left: @menu-width-tablet - 10px;
          transform: translate3d(-15px, -50%, 0);
          transition: all 0.15s ease-in-out;
          &:before {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            top: 50%;
            left: -5px;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-right: 5px solid rgba(0, 0, 0, 0.5);
            transform: translateY(-50%);
          }
        }
        &:hover {
          span {
            opacity: 1;
            transform: translate3d(0px, -50%, 0);
          }
        }
      }
    }
  }
}

@media screen and (max-width:600px) {
  .menu {
    width: @menu-width-smartphone;
    box-shadow: 0 0 0 100em rgba(0, 0, 0, 0);
    transform: translate3d(-@menu-width-smartphone, 0, 0);
    transition: all 0.3s ease-in-out;
    .smartphone-menu-trigger {
      width: 40px;
      height: 40px;
      position: absolute;
      left: 100%;
      background: theme('colors.Background');
      &:before,
      &:after {
        content: '';
        width: 50%;
        height: 2px;
        background: theme('colors.PurpleLight');
        border-radius: 10px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
      &:after {
        top: 55%;
        transform: translate3d(-50%, -50%, 0);
      }
    }
    ul {
      li {
        padding: 0.5em 0.5em 0.5em 1.0em;
        font-size: 1.2em;
      }
    }
    &:focus {
      transform: translate3d(0, 0, 0);
      box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.6);
      .smartphone-menu-trigger {
        pointer-events: none;
      }
    }
    .logo {
      h2 {
        font-size: 30px;
      }
      h3 {
        font-size: 20px;
      }
    }
  }
}
</style>
