<template>
    <i
      v-tooltip="$t('enum.GameServerStatus.' + server.status)"
      class="material-icons"
      :class="{
        'text-ServerStatus-stopped': server.status === 'STOPPED',
        'text-ServerStatus-running': server.status === 'RUNNING',
        'text-ServerStatus-loading': server.status === 'LOADING' || server.status === 'UNLOADING',
        'text-ServerStatus-erroring': server.status === 'ERRORING',
      }"
    >fiber_manual_record</i>
</template>

<script>
export default {
  name: 'StatusChip',
  data() {
    return {
      server: {}
    }
  },
  props: {
    id: String
  },
  apollo: {
    server: {
      query: require('../graphql/server/singleServerOfMine.gql'),
      subscribeToMore: {
        document: require('../graphql/server/singleServerUpdateSubscription.gql'),
        variables() {
          return {
            id: this.id
          }
        },
        updateQuery: (previous, { subscriptionData }) => {
          return {
            me: {
              __typename: 'User',
              servers: [Object.assign(previous.me.servers[0], subscriptionData.data.gameServer.node)]
            }
          }
        }
      },
      variables() {
        return {
          id: this.id
        }
      },
      update: data => data.me.servers[0]
    }
  }
}
</script>
