<template>
  <div :class="{'grid-container-list': isRemovable, 'no-grid-container-list' : !isRemovable }">
    <div class="grid-item-list card"><p class="email">{{ email }}</p><p class="role">{{ role }}</p></div>
    <button class="grid-item-list delete" v-if="isRemovable"><i class="material-icons icon delete-icon">delete</i></button>
  </div>
</template>

<script>
export default {
  name: 'UserCard',
  props: {
    isRemovable: {
      type: Boolean,
      default: false
    },
    role: String,
    email: String
  }
}
</script>

<style lang="less" scoped>
.grid-container-list {
  display: grid;
  grid-template-columns: 95% 5%;
  margin-top: 0.5rem;
}
.no-grid-container-list {
  display: grid;
  grid-template-columns: auto;
  margin-top: 0.5rem;
}
.grid-item-list {
  text-align: left;
}
.delete {
  width: 90%;
  height: 2.5rem;
  position: relative;
  left: 0.5rem;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}
.delete-icon {
  font-size: 26px;
  color: theme('colors.white');
  position: relative;
  text-align: center;
  position: relative;
  top: 0.2rem;
  cursor: pointer;
}
.card {
  background-color: theme('colors.GrayLighter');
  height: 2.5rem;
  border-radius: 15px;
}
.email {
  position: relative;
  transform: translateY(35%);
  left: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.role {
  position: relative;
  transform: translateY(-70%);
  right: 0.5rem;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
button {
  border-radius: 20px;
  float: right;
  height: 2rem;
  color: theme('colors.white');
  transition: all ease 0.3s;
  outline: none;
  right: 0;
  background-color: theme('colors.Red');
}
button:hover {
  opacity: 0.50;
  background-color: theme('colors.Red');
}

@media screen and (max-width:700px){
  .grid-container-list {
    grid-template-columns: 85% 15%;
  }
  .permission{
    display: none;
  }
}
</style>
