<template>
  <div class="p-5">
    <div v-if="!showDiscordPage">
      <img @load="onImgLoad"
      src="https://cdn.odeyr.org/illustrations/discord-integration.svg" />
      <button v-if="isLoaded" class="px-10 button-illustration">
        <p @click="showDiscordPage = true">{{ $t('action.start') }}</p>
      </button>
    </div>
    <div class="flex flex-wrap -mb-4" v-if="showDiscordPage">
      <div class="input xl:w-1/2 sm:w-4/5 h-12">
        <custom-input
              class="ml-1"
              :label="$t('discord_integration.channel')"
              :options="options.channel"
              type="combobox"
              name="channel"
              v-model.trim="$v.channel.$model"
              :model="$v.channel"
        />
        <custom-input
              class="ml-1"
              :label="$t('discord_integration.pin_message')"
              :options="options.toggle"
              type="combobox"
              name="pin_message"
              v-model.trim="$v.pin_message.$model"
              :model="$v.pin_message"
        />
        <custom-input
          class="ml-1"
          :label="$t('discord_integration.keep_history')"
          :options="options.toggle"
          type="combobox"
          name="keep_history"
          v-model.trim="$v.keep_history.$model"
          :model="$v.keep_history"
        />
      </div>
      <div class="xl:w-1/2 sm:w-4/5 w-auto mb-4 h-12 right-side">
        <textarea class="text-GrayDarker resize-y border focus:outline-none mb-2 mt-3"></textarea>
        <button class="py-3 px-10 mb-2 buttons">
              <p class="textarea-button" >{{ $t('action.save') }}</p>
          </button>
          <button class="mr-3 py-3 px-10 repost-button buttons">
              <p class="textarea-button" >{{ $t('action.repost_message') }}</p>
          </button>
      </div>
      <div class="w-1/2 mb-4 warning">
        <h3 class="ml-3 mt-3 text-ServerStatus-erroring">{{ $t('action.remove_integration') }}</h3>
        <p class="ml-3 mt-3 message text-GrayDarker">{{ $t('discord_integration.message') }}</p>
        <button class="px-10 remove-button" @click="deleteIntegration()">
          <p class="integration-button" >{{ $t('action.delete') }}</p>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators'
import tailwindConfig from './../../../tailwind.config'

export default {
  name: 'DiscordIntegration',
  data() {
    return {
      showDiscordPage: false,
      isLoaded: false,
      channel: '',
      pin_message: '',
      keep_history: '',
      options: {
        channel: [{}],
        toggle: [
          {
            value: 'true',
            displayValue: this.$t('server_preferences.options.true_false.true')
          },
          {
            value: 'false',
            displayValue: this.$t('server_preferences.options.true_false.false')
          }
        ]
      }
    }
  },
  validations: {
    allow_flight: {
      required
    },
    channel: {},
    pin_message: {},
    keep_history: {}
  },
  methods: {
    onImgLoad() {
      this.isLoaded = true
    },
    deleteIntegration() {
      this.$swal({
        title: this.$t('action.remove_integration'),
        text: this.$t('action.delete_message'),
        showCancelButton: true,
        confirmButtonText: this.$t('action.yes'),
        confirmButtonColor: tailwindConfig.theme.colors.Bouton.Next,
        cancelButtonText: this.$t('action.cancel'),
        cancelButtonColor: tailwindConfig.theme.colors.Bouton.Cancel,
        showCloseButton: false,
        showLoaderOnConfirm: true
      }).then((result) => {
        if(result.value) {
          this.showDiscordPage = false
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
img {
  width: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
textarea {
  width: 100%;
  height: 10rem;
  text-align: justify;
  background-color: theme('colors.GrayLight');
}
h3 {
  text-align: left;
}
.buttons {
  float: right;
  outline: none;
  border-radius: 20px;
  height: 2rem;
  color: theme('colors.white');
  box-shadow: 0px 4px 4px theme('colors.Background');
  transition: all ease 0.3s;
  background-color: theme('colors.PurpleDark');
}
.buttons:hover {
  background-color: theme('colors.PurpleLight');
}
.textarea-button {
  margin-top: -0.4rem;
  font-size: 17px;
  text-align: center;
}
.integration-button {
  font-size: 17px;
  text-align: center;
  color: theme('colors.white');
}
.remove-button {
  border-radius: 0px;
  position: relative;
  height: 2rem;
  line-height: normal;
  margin-top: 1rem;
  float: left;
  left: 0.5rem;
  bottom: 0.5rem;
  background-color: theme('colors.Red');
}
.remove-button:hover {
  background-color: theme('colors.LightRed');
}
.warning {
  position: relative;
  top: 18rem;
  width: 100%;
  border: 1px;
  border-style: solid;
  float: left;
  border-color: theme('colors.GrayLight');
  background-color: theme('colors.GrayLight');
}
.message {
  text-align: justify;
  position: relative;
  left: 0rem;
  right: 0rem;
}
.transition-ease {
  transition: all ease .3s;
}
input {
  background: transparent;
}
a.selected {
  font-weight: 700;
  color: theme('colors.PurpleLight');
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 12;
}
.input-wrapper:focus-within {
  @apply border-b-2;
  padding-bottom: calc(0.25rem - 1px);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.dropdown:hover .dropdown-menu {
  display: block;
  z-index:10;
  background: theme('colors.Background') !important;
  color: theme('colors.PurpleLight') !important;
}
.shadow {
  box-shadow:0 2px 3px 0 theme('colors.Background');
}

@media screen and (max-width:1300px) and (min-width:550px) {
  .repost-button {
    margin-right: 10px;
  }
  .remove-button {
    margin-bottom: 20px;
    height: 50px;
  }
  .warning {
    width: 100%;
    height: 100%;
    margin-top: 250px;
  }
  .remove-button {
    margin-top: 25px;
  }
  .right-side {
    margin-top: 300px;
  }
  .start_button {
    width: 260px;
  }
}
@media screen and (max-width:550px) and (min-width:380px) {
  .repost-button {
    margin-right: 10px;
  }
  .remove-button {
    margin-bottom: 20px;
    height: 50px;
  }
  .warning {
    width: 100%;
    height: 100%;
  }
  .right-side {
    margin-top: 16rem;
  }
  .input{
    width: 100%;
  }
}
@media screen and (max-width:380px) {
  .repost-button {
    margin-right: 0px;
  }
  .remove-button {
    margin-bottom: 20px;
    height: 50px;
  }
  .warning {
    width: 100%;
    height: 100%;
  }
  .right-side {
    margin-top: 16rem;
  }
  .message {
    margin-right: 0.5rem;
  }
  .input{
    width: 100%;
  }
}
</style>
