<template>
  <div>
    <iframe v-if="server && server.status === 'RUNNING'" class="map-integration" :src="serverMapAdress">
    </iframe>
    <div class="w-full" v-if="!server || server.status !== 'RUNNING'">
      <p>{{ $t('map_integration.no_running_server') }}</p>
      <img @load="onImgLoad"
      src="https://cdn.odeyr.org/illustrations/map-integration.svg" />
      <router-link v-if="isLoaded" :to="{ name: 'ServerControls' }">
        <button class="px-10 button-illustration">{{ $t('map_integration.button_message') }}</button>
      </router-link>
    </div>
  </div>
</template>
<script>
export default {
  name: 'MapIntegration',
  data() {
    return {
      isLoaded: false,
      server: null
    }
  },
  apollo: {
    server: {
      query: require('../../graphql/server/singleServerOfMine.gql'),
      subscribeToMore: {
        document: require('../../graphql/server/singleServerUpdateSubscription.gql'),
        variables() {
          return {
            id: this.$store.state.servers.selected.id
          }
        },
        updateQuery: (previous, { subscriptionData }) => {
          return {
            me: {
              __typename: 'User',
              servers: [Object.assign(previous.me.servers[0], subscriptionData.data.gameServer.node)]
            }
          }
        }
      },
      variables() {
        return {
          id: this.$store.state.servers.selected.id
        }
      },
      update: data => data.me.servers[0]
    }
  },
  computed: {
    serverMapAdress() {
      return 'http://' + this.server.address + ':' + this.server.mapPort
    }
  },
  methods: {
    onImgLoad() {
      this.isLoaded = true
    }
  }
}
</script>
<style scoped>
.map-integration {
  width:100%;
  min-height: 850px;
  padding-top: 1%;
  padding-right: 1%;
}
img {
  position: fixed;
  top: 130px;
  right: 130px;
  width: 650px;
  float: right;
}
.button-illustration{
  float: left;
  margin-left: 1rem;
  height: 2.2rem;
}
p {
  margin: 1.5rem;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
}
@media screen and (max-width:1300px){
  img{
    display: none;
  }
  .button-illustration{
    margin-right: 1rem;
    height: 3rem;
  }
}
</style>
