<template>
  <div class="flex flex-row bg-gray-200 m-5">
    <div
      class="w-full"
      v-if="$store.state.servers.servers && $store.state.servers.servers.length > 0">
      <div
        v-for="server in $store.state.servers.servers"
        :key="server.name"
      >
        <form>
          <my-server :id="server.id" @onDeleteServer="onDelete"></my-server>
        </form>
      </div>
    </div>
    <div class="w-full" v-if="$store.state.servers.servers && $store.state.servers.servers.length === 0 && isFetching">
      <p>{{ $t('my_servers.no_servers') }}</p>
      <router-link :to="{ name: 'ServerSelection' }">
        <button class="button-primary mt-3">{{ $t('my_servers.button_message') }}</button>
      </router-link>
    </div>
  </div>
</template>

<script>
import MyServer from '@/components/MyServer'

export default {
  name: 'MyServers',
  components: {
    MyServer
  },
  data: function() {
    return {
      isFetching: false
    }
  },
  mounted() {
    this.fetchServers()
  },
  methods: {
    fetchServers() {
      this.$store.dispatch('servers/fetchMyServers')
        .then((response) => {
          if(response) {
            if(this.$route.query.action) {
              if(this.$route.query.action === 'delete' && this.$route.query.id) {
                this.onDelete(this.$route.query.id)
              }
              let query = Object.assign({}, this.$route.query)
              delete query.id
              delete query.action
              this.$router.replace({ query })
            }
            this.isFetching = true
          }
        })
        .catch(error => {
          console.error(error)
        })
    },
    onDelete(id) {
      this.$store.dispatch('servers/deleteServer', id).catch(error => console.log(error))
    }
  }
}
</script>
<style lang="less" scoped>
button {
  border-radius: 20px;
  float: left;
  height: 40px;
  color: white;
  width: fit-content;
  box-shadow: 0px 4px 4px theme('colors.Background');
  transition: all ease 0.3s;
  outline: none;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 17px;
}
.div-border {
  height: 50px;
  border-radius: 25px;
  width: 100px;
}
p {
  font-weight: normal;
  font-size: 18px;
  text-align: left;
}
</style>
