<template>
  <div class="flex flex-row bg-gray-200 p-5 pt-0">
    <form class="w-full">
      <div v-if="onlinePlayersList.length === 0 && offlinePlayersList.length === 0">
        <p>{{ $t('player_list.no_players') }}</p>
        <img src="https://cdn.odeyr.org/illustrations/player-list.svg" />
      </div>
      <div>
        <span v-for="player in onlinePlayersList" :key="player.id">
          <player-card :player="player"></player-card>
        </span>
        <span v-for="player in offlinePlayersList" :key="player.id">
          <player-card :player="player"></player-card>
        </span>
      </div>
    </form>
  </div>
</template>

<script>
import PlayerCard from '@/components/PlayerCard'

export default {
  name: 'PlayersList',
  components: {
    PlayerCard
  },
  data() {
    return {
      offlinePlayersList: [],
      onlinePlayersList: []
    }
  },
  mounted() {
    this.fetchPlayers()
    setInterval(this.fetchPlayers, 350)
  },
  methods: {
    fetchPlayers() {
      this.$apollo.query({
        query: require('../../graphql/server/serverPlayerHistory.gql'),
        variables: {
          id: this.$store.state.servers.selected.id
        },
        fetchPolicy: 'network-only'
      }).then(response => {
        if(response.data.me) {
          let fullPlayerList = response.data.me.servers[0].players
          this.onlinePlayersList = fullPlayerList.filter(player => player.isOnline === true)
          this.offlinePlayersList = fullPlayerList.filter(player => player.isOnline === false)
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>
p.normal {
  font-weight: normal;
  font-size: 18px;
}
p {
  float: left;
}
img {
  position: fixed;
  top: 90px;
  right: 130px;
  width: 650px;
  float: right;
}
.div-border {
  width: 100%;
  height: 2.5rem;
  border-radius: 25px;
}
</style>
