<template>
  <div class="flex flex-col bg-Background p-5 pt-0">
     <div v-if="$store.state.servers.servers && $store.state.servers.servers.length === 0 && isFetching">
      <img @load="onImgLoad" src="https://cdn.odeyr.org/illustrations/server-empty.svg" />
      <button v-if="isLoaded" class="mt-2 px-10 button-illustration" @click="addServer()">
        <p>{{ $t('action.start') }}</p>
      </button>
    </div>
    <div class="_container" v-if="$store.state.servers.servers && $store.state.servers.servers.length > 0">
      <div class="item"
        v-for="server in $store.state.servers.servers"
        :key="server.name"
        :class="{ 'selected': selectedServer && selectedServer.id === server.id }"
        @click="setActive(server)"
      >
        <div class="content">
          <img v-if="server.game.type === 'VANILLA'" src="https://i.pinimg.com/originals/45/ae/f5/45aef5cc24a0402fc44cbeb9d63fdee6.png"/>
          <img v-if="server.game.type === 'CRAFTBUKKIT'" src="https://getbukkit.org/assets/img/getbukkit.svg"/>
          <p class="text-GrayDarker">{{ server.name }}</p>
        </div>
      </div>
      <div class="item add-button" @click="addServer()">
        <div class="content" @click="addServer()">
          <i class="material-icons">add</i>
          <p class="mt-2">{{ $t('action.addition') }}</p>
        </div>
      </div>
    </div>
    <div class="alert" v-if="$store.state.servers.servers && $store.state.servers.servers.length > 0">
      {{ $t('server_selection.alert_download_client') }}
      <a class="link" target="_blank" :href="latestReleaseURL">{{ $t('action.here') }}</a>
    </div>
  </div>
</template>

<script>
import apolloClient from '../../graphql'
import tailwindConfig from './../../../tailwind.config'
import axios from 'axios'

export default {
  name: 'ServerSelection',
  data: function() {
    return {
      isFetching: false,
      isLoaded: false,
      latestReleaseURL: String,
      requestURL: 'https://gitlab.com/api/v4/projects/16682099/releases?'
    }
  },
  computed: {
    selectedServer() {
      return this.$store.state.servers.selected
    }
  },
  mounted() {
    this.fetchServers()
    this.fetchLatestReleaseURL()
  },
  methods: {
    onImgLoad() {
      this.isLoaded = true
    },
    setActive(server) {
      this.$store.dispatch('servers/selectServer', server)
    },
    fetchServers() {
      this.$store.dispatch('servers/fetchMyServers')
        .then((response) => {
          if(response) {
            this.isFetching = true
          }
        }).catch(error => {
          console.error(error)
        })
    },
    addServer() {
      this.$swal.mixin({
        input: 'text',
        confirmButtonText: this.$t('action.next') + ' &rarr;',
        confirmButtonColor: tailwindConfig.theme.colors.Bouton.Next,
        cancelButtonText: this.$t('action.cancel'),
        showCancelButton: true
      }).queue([
        {
          title: this.$t('server_selection.creation.title'),
          text: this.$t('server_selection.creation.name_label'),
          input: 'text',
          inputPlaceholder: this.$t('server_selection.creation.name_placeholder'),
          showCancelButton: true,
          inputValidator: (value) => {
            var bIsIdentical = false
            this.$store.state.servers.servers.forEach(s => {
              if(s.name === value) {
                bIsIdentical = true
              }
            })
            if(bIsIdentical) {
              return this.$tc('validations.differentAs', 2, { n: this.$t('server_selection.other_servers') })
            }
            if(!value) {
              return this.$t('validations.required')
            }
          }
        },
        {
          title: this.$t('server_selection.creation.title'),
          text: this.$t('server_selection.creation.type_label'),
          input: 'select',
          inputOptions: {
            VANILLA: this.$t('enum.GameType.VANILLA'),
            CRAFTBUKKIT: this.$t('enum.GameType.CRAFTBUKKIT')
          }
        },
        {
          title: this.$t('server_selection.creation.title'),
          text: this.$t('server_selection.creation.version_minecraft_label'),
          input: 'select',
          inputPlaceholder: this.$t('server_selection.creation.version_minecraft_placeholder'),
          inputOptions: {
            v1_15_2: this.$t('enum.Version.v1_15_2'),
            v1_12_2: this.$t('enum.Version.v1_12_2'),
            v1_7_10: this.$t('enum.Version.v1_7_10')
          },
          inputValidator: (value) => {
            return new Promise((resolve) => {
              if(value) {
                resolve()
              } else {
                resolve(this.$t('server_selection.creation.version_minecraft_error'))
              }
            })
          }
        }
      ]).then((result) => {
        if(result.value) {
          this.getGameFromInput(result.value).then(resGame => {
            var variables = [ result.value[0], resGame ]
            this.$store.dispatch('servers/addNewServer', variables).then((response) => {
              if(response) {
                this.$swal.mixin({
                  confirmButtonColor: tailwindConfig.theme.colors.Bouton.Next
                }).fire({
                  title: this.$t('server_selection.creation.finished_label'),
                  icon: 'success',
                  html: this.$t('server_selection.creation.finished_server_created', { server: result.value[0] })
                }).then((fireRes) => {
                  this.$store.dispatch('servers/selectServer', response)
                })
              }
            }).catch(err => {
              console.error(err)
            })
          }).catch(err => {
            console.error(err)
          })
        }
      })
    },
    getGameFromInput(input) {
      return new Promise((resolve, reject) => {
        apolloClient.query({
          query: require('../../graphql/game/getGameFromInput.gql'),
          variables: {
            Version: input[2].replace(/_/g, '.').slice(1),
            Type: input[1].toUpperCase(),
            Name: 'MINECRAFT'
          }
        }).then(response => {
          if(response.data.games[0]) {
            resolve(response.data.games[0].id)
          }
        }).catch(error => {
          reject(error)
        })
      })
    },
    fetchLatestReleaseURL() {
      axios
        .get(this.requestURL)
        .then(response => {
          this.latestReleaseURL = response.data[0]._links.self
        })
        .catch(error => {
          console.error(error)
        })
    }
  }
}
</script>

<style lang="less" scoped>
.swal2_popup {
  background-color: red;
}
._container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .item {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: theme('colors.GrayLighter');
    border-radius: 35px;
    margin-top: 20px;
    margin-right: 20px;
    border: 4px solid theme('colors.GrayLighter');
    transition: all .2s;
    cursor: pointer;
    &.selected {
      border: 4px solid theme('colors.PurpleLight');
      transition: all .2s;
    }
    .content {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      margin: 35px 40px;
      max-width: 100px;
      img {
        max-width: 100px;
        justify-content: center;
      }
      p {
        margin-top: 15px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
.alert{
  position: absolute;
  bottom: 1%;
  background-color: theme('colors.PurpleDark');
  border-radius: 8px;
  color: theme('colors.white');
  height: 50px;
  line-height: 50px;
  width: 50%;
  left: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.link{
  text-decoration: underline;
  color: theme('colors.PurpleLighter');
}
.add-button{
  cursor: pointer;
  width: 190px;
  height: 223px;
  color: theme('colors.GrayDarker');
  i {
    font-size: 40px
  }
}
img {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.add-button:hover {
  background-color: theme('colors.GrayDark');
  border: theme('colors.GrayDark');
}

@media screen and (max-width:760px) and (min-width: 400px){
 .alert{
   display: none;
  }

  ._container {
    .item {
      margin-left: 14%;
    }
  }
}

@media screen and (max-width: 400px) {
  .alert {
   display: none;
  }

  ._container {
    .item {
      margin-left: 15%;
    }
  }
}
</style>
