<template>
  <div class="flex flex-col p-5 w-full">
    <div class="mb-4 text-left">
      <div class="grid-container">
        <custom-input
          class="mr-2"
          :label="$t('server_preferences.difficulty')"
          :options="options.difficulty"
          type="combobox"
          name="difficulty"
          v-model.trim="$v.properties.difficulty.$model"
          :model="$v.properties.difficulty"
        />
        <custom-input
          class="mr-2"
          :label="$t('server_preferences.force_gamemode')"
          :options="options.toggle"
          type="combobox"
          name="force_gamemode"
          v-model.trim="$v.properties.force_gamemode.$model"
          :model="$v.properties.force_gamemode"
        />
        <custom-input
          class="mr-2"
          :label="$t('server_preferences.gamemode')"
          :options="options.gamemode"
          type="combobox"
          name="gamemode"
          v-model.trim="$v.properties.gamemode.$model"
          :model="$v.properties.gamemode"
        />
        <custom-input
          class="mr-2"
          :label="$t('server_preferences.hardcore')"
          :options="options.toggle"
          type="combobox"
          name="hardcore"
          v-model.trim="$v.properties.hardcore.$model"
          :model="$v.properties.hardcore"
        />
        <custom-input
          class="mr-2"
          :label="$t('server_preferences.max_build_height')"
          :min="0"
          type="number"
          onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))"
          name="max_build_height"
          v-model.trim="$v.properties.max_build_height.$model"
          :model="$v.properties.max_build_height"
        />
        <custom-input
          class="mr-2"
          :label="$t('server_preferences.max_players')"
          :min="0"
          type="number"
          onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))"
          name="max_players"
          v-model.trim="$v.properties.max_players.$model"
          :model="$v.properties.max_players"
        />
        <custom-input
          class="mr-2"
          :label="$t('server_preferences.motd')"
          type="text"
          name="motd"
          v-model.trim="$v.properties.motd.$model"
          :model="$v.properties.motd"
        />
        <custom-input
          class="mr-2"
          :label="$t('server_preferences.pvp')"
          type="combobox"
          :options="options.toggle"
          name="pvp"
          v-model.trim="$v.properties.pvp.$model"
          :model="$v.properties.pvp"
        />
        <custom-input
          class="mr-2"
          :label="$t('server_preferences.view_distance')"
          type="number"
          onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))"
          name="view_distance"
          v-model.trim="$v.properties.view_distance.$model"
          :model="$v.properties.view_distance"
        />
      </div>
    </div>

    <div id="app" class="rounded shadow">
      <accordion class="shadow" :title="$t('options.advanced')">
        <div class="grid-container">
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.allow_flight')"
            type="combobox"
            :options="options.toggle"
            name="allow_flight"
            v-model.trim="$v.properties.allow_flight.$model"
            :model="$v.properties.allow_flight"
          />
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.allow_nether')"
            type="combobox"
            :options="options.toggle"
            name="allow_nether"
            v-model.trim="$v.properties.allow_nether.$model"
            :model="$v.properties.allow_nether"
          />
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.enable_command_block')"
            type="combobox"
            :options="options.toggle"
            name="enable_command_block"
            v-model.trim="$v.properties.enable_command_block.$model"
            :model="$v.properties.enable_command_block"
          />
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.function_permission_level')"
            type="number"
            onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))"
            name="function_permission_level"
            :min="1"
            :max="4"
            v-model.trim="$v.properties.function_permission_level.$model"
            :model="$v.properties.function_permission_level"
          />
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.generate_structures')"
            type="combobox"
            :options="options.toggle"
            name="generate_structures"
            v-model.trim="$v.properties.generate_structures.$model"
            :model="$v.properties.generate_structures"
          />
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.seed')"
            type="text"
            name="seed"
            v-model.trim="$v.properties.seed.$model"
            :model="$v.properties.seed"
          />
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.level_type')"
            :options="options.level_type"
            type="combobox"
            name="level_type"
            v-model.trim="$v.properties.level_type.$model"
            :model="$v.properties.level_type"
          />
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.max_tick_time')"
            type="number"
            onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))"
            name="max_tick_time"
            :min="0"
            v-model.trim="$v.properties.max_tick_time.$model"
            :model="$v.properties.max_tick_time"
          />
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.max_world_size')"
            type="number"
            onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))"
            name="max_world_size"
            :min="1"
            v-model.trim="$v.properties.max_world_size.$model"
            :model="$v.properties.max_world_size"
          />
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.online_mode')"
            type="combobox"
            :options="options.toggle"
            name="online_mode"
            v-model.trim="$v.properties.online_mode.$model"
            :model="$v.properties.online_mode"
          />

          <custom-input
            class="mr-2"
            :label="$t('server_preferences.op_permission_level')"
            :options="options.op_permission_level"
            type="combobox"
            name="op_permission_level"
            v-model.trim="$v.properties.op_permission_level.$model"
            :model="$v.properties.op_permission_level"
          />
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.player_idle_timeout')"
            type="number"
            onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))"
            name="player_idle_timeout"
            :min="0"
            v-model.trim="$v.properties.player_idle_timeout.$model"
            :model="$v.properties.player_idle_timeout"
          />
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.prevent_proxy_connections')"
            type="combobox"
            :options="options.toggle"
            name="prevent_proxy_connections"
            v-model.trim="$v.properties.prevent_proxy_connections.$model"
            :model="$v.properties.prevent_proxy_connections"
          />
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.snooper_enabled')"
            type="combobox"
            :options="options.toggle"
            name="snooper_enabled"
            v-model.trim="$v.properties.snooper_enabled.$model"
            :model="$v.properties.snooper_enabled"
          />
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.spawn_animals')"
            type="combobox"
            :options="options.toggle"
            name="spawn_animals"
            v-model.trim="$v.properties.spawn_animals.$model"
            :model="$v.properties.spawn_animals"
          />
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.spawn_monsters')"
            type="combobox"
            :options="options.toggle"
            name="spawn_monsters"
            v-model.trim="$v.properties.spawn_monsters.$model"
            :model="$v.properties.spawn_monsters"
          />
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.spawn_npcs')"
            type="combobox"
            :options="options.toggle"
            name="spawn_npcs"
            v-model.trim="$v.properties.spawn_npcs.$model"
            :model="$v.properties.spawn_npcs"
          />
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.spawn_protection')"
            type="number"
            onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))"
            name="spawn_protection"
            :min="0"
            v-model.trim="$v.properties.spawn_protection.$model"
            :model="$v.properties.spawn_protection"
          />
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.use_native_transport')"
            type="combobox"
            :options="options.toggle"
            name="use_native_transport"
            v-model.trim="$v.properties.use_native_transport.$model"
            :model="$v.properties.use_native_transport"
          />
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.white_list')"
            type="combobox"
            :options="options.toggle"
            name="white_list"
            v-model.trim="$v.properties.white_list.$model"
            :model="$v.properties.white_list"
          />
          <custom-input
            class="mr-2"
            :label="$t('server_preferences.enforce_whitelist')"
            type="combobox"
            :options="options.toggle"
            name="enforce_whitelist"
            v-model.trim="$v.properties.enforce_whitelist.$model"
            :model="$v.properties.enforce_whitelist"
          />
          </div>
      </accordion>
    </div>

    <div class="flex flex-col py-5 ml-auto">
      <button
        @click="saveServerProperties"
        class="button-primary"
        :disabled="isLoading"
        :class="{ spinner: isLoading }"
      >
        {{ $t('action.save') }}
      </button>
    </div>
  </div>
</template>

<script>
import Accordion from '@/components/Accordion'
import { required } from 'vuelidate/lib/validators'
import tailwindConfig from './../../../tailwind.config'

export default {
  name: 'ServerPreferences',
  data() {
    return {
      isLoading: false,
      properties: {
        allow_flight: '',
        allow_nether: '',
        difficulty: '',
        enable_command_block: '',
        force_gamemode: '',
        function_permission_level: '',
        gamemode: '',
        generate_structures: '',
        hardcore: '',
        seed: '',
        level_type: '',
        max_build_height: '',
        max_players: '',
        max_tick_time: '',
        max_world_size: '',
        motd: '',
        online_mode: '',
        op_permission_level: '',
        player_idle_timeout: '',
        prevent_proxy_connections: '',
        pvp: '',
        snooper_enabled: '',
        spawn_animals: '',
        spawn_monsters: '',
        spawn_npcs: '',
        spawn_protection: '',
        use_native_transport: '',
        view_distance: '',
        white_list: '',
        enforce_whitelist: ''
      },
      options: {
        difficulty: [
          {
            value: 'peaceful',
            displayValue: this.$t('server_preferences.options.difficulty.peaceful')
          },
          {
            value: 'easy',
            displayValue: this.$t('server_preferences.options.difficulty.easy')
          },
          {
            value: 'normal',
            displayValue: this.$t('server_preferences.options.difficulty.normal')
          },
          {
            value: 'hardcore',
            displayValue: this.$t('server_preferences.options.difficulty.hardcore')
          }
        ],
        gamemode: [
          {
            value: 'creative',
            displayValue: this.$t('server_preferences.options.gamemode.creative')
          },
          {
            value: 'survival',
            displayValue: this.$t('server_preferences.options.gamemode.survival')
          },
          {
            value: 'adventure',
            displayValue: this.$t('server_preferences.options.gamemode.adventure')
          },
          {
            value: 'spectator',
            displayValue: this.$t('server_preferences.options.gamemode.spectator')
          }
        ],
        level_type: [
          {
            value: 'default',
            displayValue: this.$t('server_preferences.options.level_type.default')
          },
          {
            value: 'flat',
            displayValue: this.$t('server_preferences.options.level_type.flat')
          },
          {
            value: 'largebiomes',
            displayValue: this.$t('server_preferences.options.level_type.largebiomes')
          },
          {
            value: 'amplified',
            displayValue: this.$t('server_preferences.options.level_type.amplified')
          }
        ],
        op_permission_level: [
          {
            value: '1',
            displayValue: this.$t('server_preferences.options.op_permission_level.level1')
          },
          {
            value: '2',
            displayValue: this.$t('server_preferences.options.op_permission_level.level2')
          },
          {
            value: '3',
            displayValue: this.$t('server_preferences.options.op_permission_level.level3')
          },
          {
            value: '4',
            displayValue: this.$t('server_preferences.options.op_permission_level.level4')
          }
        ],
        toggle: [
          {
            value: 'true',
            displayValue: this.$t('server_preferences.options.true_false.true')
          },
          {
            value: 'false',
            displayValue: this.$t('server_preferences.options.true_false.false')
          }
        ]
      }
    }
  },
  validations: {
    properties: {
      allow_flight: {
        required
      },
      allow_nether: {},
      difficulty: {},
      enable_command_block: {},
      force_gamemode: {},
      function_permission_level: {},
      gamemode: {},
      generate_structures: {},
      hardcore: {},
      seed: {},
      level_type: {},
      max_build_height: {},
      max_players: {},
      max_tick_time: {},
      max_world_size: {},
      motd: {},
      online_mode: {},
      op_permission_level: {},
      player_idle_timeout: {},
      prevent_proxy_connections: {},
      pvp: {},
      snooper_enabled: {},
      spawn_animals: {},
      spawn_monsters: {},
      spawn_npcs: {},
      spawn_protection: {},
      use_native_transport: {},
      view_distance: {},
      white_list: {},
      enforce_whitelist: {}
    }
  },
  methods: {
    saveServerProperties() {
      this.$swal({
        title: this.$t('server_preferences.save-confirmation.title'),
        text: this.$t('server_preferences.save-confirmation.text'),
        showCancelButton: true,
        confirmButtonText: this.$t('action.yes'),
        confirmButtonColor: tailwindConfig.theme.colors.Bouton.Next,
        cancelButtonText: this.$t('action.cancel'),
        cancelButtonColor: tailwindConfig.theme.colors.Bouton.Cancel,
        showCloseButton: false,
        showLoaderOnConfirm: true
      }).then((result) => {
        if(result.value) {
          this.isLoading = true
          const props = Object.keys(this.properties).map(key => {
            return {
              where: {
                key: key.replace(/_/gi, '-')
              },
              data: {
                value: this.properties[key]
              }
            }
          })
          this.$store.dispatch('servers/saveCurrentServerProperties', props).then(response => {
            this.$swal({
              title: this.$t('server_preferences.save-notification.title'),
              text: this.$t('server_preferences.save-notification.text'),
              confirmButtonColor: tailwindConfig.theme.colors.Bouton.Next
            })

            this.sendCommand(this.$store.state.servers.selected.id, 'restart')
              .then(response => {
                this.isLoading = false
              })
          }).catch(error => console.error(error))
        }
      })
    },
    sendCommand(id, commandText) {
      return new Promise((resolve, reject) => {
        this.$apollo.mutate({
          mutation: require('../../graphql/server/sendCommandToServerMutation.gql'),
          variables: {
            id,
            commandText
          }
        }).then(response => {
          resolve(response.data.createCommand.id)
        }).catch(error => {
          reject(error)
        })
      })
    }
  },
  mounted() {
    this.$store.dispatch('servers/fetchCurrentServerProperties').then(response => {
      response.forEach(property => {
        this.properties[property.key.replace(/-/gi, '_')] = property.value
      })
    })
  },
  components: {
    Accordion
  }
}
</script>

<style lang="less" scoped>
.button-primary {
  height: 2.2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  width: 10rem;
}
.transition-ease {
  transition: all ease .3s;
}
input {
  background: transparent;
}
a.selected {
  font-weight: 700;
  color: theme('colors.PurpleLight');
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 12;
}
.input-wrapper:focus-within {
  @apply border-b-2;
  padding-bottom: calc(0.25rem - 1px);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.dropdown:hover .dropdown-menu {
  display: block;
  z-index:10;
  background: theme('colors.Background') !important;
  color: theme('colors.PurpleLight') !important;
}
.shadow{
  box-shadow:0 2px 3px 0 theme('colors.Background');
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width:600px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
  }
}
</style>
