<template>
  <div class="flex flex-col bg-gray-200 w-full p-5" v-if="server != null">
    <p class="pt-0 text-left server_name normal"><StatusChip :id="server.id" class="status_chip"></StatusChip>{{ server.name }}</p>
    <notifications group="server" />
    <div class="grid-container">
      <div class="grid-item">{{ $t('server_control.name_game') }} {{ $t(`enum.AvailableGame.${server.game.name}`) }}</div>
      <div class="grid-item">{{ $t('server_control.type') }} {{ $t(`enum.GameType.${server.game.type}`) }}</div>
      <div class="grid-item">{{ $t('server_control.version') }} {{ server.game.version }}</div>
      <div class="grid-item">{{ $t('server_control.address') }} {{ address }}
        <i class="material-icons copy"
            v-clipboard:copy='address'
            v-tooltip="{
              content: $t('action.text_copied'),
              show: isToolTipOpen, trigger: 'manual',
              autoHide: false, offset: 2
            }"
            @click="copyAddressHandler()">file_copy</i></div>
      <div class="grid-item">{{ $t('server_control.creation_date') }} {{ moment(server.createdAt).format('YYYY-MM-DD') }}</div>
    </div>

    <div class="py-5">
      <button class="light-on-hover ml-auto px-8" :class="{'bg-ServerStatus-running': isServerStopped, 'bg-ServerStatus-erroring': !isServerStopped, spinner: isLoading}" :disabled="isLoading" @click ="startStopAction()">
        <p>{{ isServerStopped ? $t('action.start_status') : $t('action.stop_status') }}</p>
      </button>
    </div>

    <p class="text-PurpleLight text-left text-1xl py-2 mb-3">{{ $t('server_control.console') }}</p>

    <div class="flex flex-col">
      <div id="scrollableCommandDiv" class="bg-GrayLight w-full div-border div-scrollable">
        <span v-for="(command, index) in filterUpdatedCommands(commands.filter(command => !!command.result))" :key="index" class="flex py-3 px-2 m-1 text-text normal text-justify">
          <ul>
            <li v-for="(text, index) in command.result.split('#!#')" :key="index" class="consoleText">
              {{ text }}
            </li>
          </ul>
        </span>
      </div>
    </div>
    <div class="flex flex-row w-full">
      <input class="text-text border flex-auto px-1 rounded" type="text" @keyup.enter="sendCommandOnClick()" v-model="commandInputField" :placeholder="$t('server_control.command_input_placeholder')">
      <button class="command-button" @click="sendCommandOnClick()">
        <p>{{ $t('action.send') }}</p>
      </button>
    </div>
  </div>
</template>

<script>
import StatusChip from '@/components/StatusChip'
import Notifications from 'vue-notification'
import Vue from 'vue'
import VueClipboard from 'vue-clipboard2'

VueClipboard.config.autoSetContainer = true
Vue.use(VueClipboard)
Vue.use(Notifications)

export default {
  name: 'ServerControls',
  components: {
    StatusChip
  },
  data() {
    return {
      commands: [],
      isServerStopped: false,
      isLoading: false,
      commandInputField: '',
      server: null,
      isToolTipOpen: false
    }
  },
  mounted() {
    this.$apollo.query({
      query: require('../../graphql/server/singleServerOfMine.gql'),
      variables: {
        id: this.$store.state.servers.selected.id
      }
    }).then(response => {
      if(response.data.me) {
        this.server = response.data.me.servers[0]
        this.isServerStopped = response.data.me.servers[0].status === 'STOPPED'
      }
    })
  },
  methods: {
    startStopAction() {
      var title, message
      this.isLoading = true
      if(this.isServerStopped) {
        title = this.$t('server_control.starting_server')
        message = this.$t('server_control.starting_server_message')
        this.sendCommand(this.$store.state.servers.selected.id, 'start')
          .then(response => { this.isLoading = false })
      } else {
        title = this.$t('server_control.stopping_server')
        message = this.$t('server_control.stopping_server_message')
        this.sendCommand(this.$store.state.servers.selected.id, 'stop')
          .then(response => { this.isLoading = false })
      }
      Vue.notify({
        group: 'server',
        title: title,
        type: 'success',
        text: message,
        duration: 5000
      })
      this.isServerStopped = !this.isServerStopped
    },
    sendCommand(id, commandText) {
      return new Promise((resolve, reject) => {
        this.$apollo.mutate({
          mutation: require('../../graphql/server/sendCommandToServerMutation.gql'),
          variables: {
            id,
            commandText
          }
        }).then(response => {
          resolve(response.data.createCommand.id)
        }).catch(error => {
          reject(error)
        })
      })
    },
    filterUpdatedCommands(commands) {
      let flags = []
      let output = []
      let l = commands.length
      let i

      for(i = 0; i < l; i++) {
        if(flags[commands[i].id]) continue

        flags[commands[i].id] = true
        output.push(commands[i])

        var scrollable = document.getElementById('scrollableCommandDiv')
        if(scrollable) {
          scrollable.scrollTop = scrollable.scrollHeight
        }
      }
      return output
    },
    sendCommandOnClick() {
      if(this.commandInputField.trim() === '') return
      if(this.commandInputField === 'start') return
      if(this.commandInputField === 'stop') return

      this.sendCommand(this.$store.state.servers.selected.id, this.commandInputField)
      this.commandInputField = ''
    },
    copyAddressHandler() {
      this.isToolTipOpen = true
      setTimeout(() => {
        this.isToolTipOpen = false
      }, 1500)
    }
  },
  computed: {
    address: function() {
      return this.server.address + ':' + this.server.gamePort
    }
  },
  apollo: {
    commands: {
      query: require('../../graphql/server/lastTenCommandQuery.gql'),
      subscribeToMore: {
        document: require('../../graphql/server/singleServerCommandSubscription.gql'),
        variables() {
          return {
            id: this.$store.state.servers.selected.id
          }
        },
        updateQuery: (previous, { subscriptionData }) => {
          return {
            me: {
              __typename: 'User',
              servers: [{
                __typename: 'GameServer',
                id: previous.me.servers[0].id,
                commands: [
                  ...previous.me.servers[0].commands,
                  subscriptionData.data.command.node
                ]
              }]
            }
          }
        }
      },
      variables() {
        return {
          id: this.$store.state.servers.selected.id
        }
      },
      update: data => {
        return data.me.servers[0].commands
      }
    }
  }
}
</script>

<style lang="less" scoped>
p.normal {
  color: theme('colors.text');
}
.status_chip{
  position: relative;
  top: 0.2rem;
  left: -0.5rem;
}
.server_name{
  color: theme('colors.black');
  font-weight: bold;
  padding-left: 0.5rem !important;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  padding: 1rem;
}
.grid-item {
  text-align: left;
  i{
    margin-top: -0.5rem;
  }
}
.div-scrollable {
  height: 55vh;
  overflow:scroll;
  overflow-x:hidden;
}
button {
  border-radius: 20px;
  float: right;
  height: 2.2rem;
  color: theme('colors.white');
  box-shadow: 0px 4px 4px theme('colors.Shadow');
  transition: all ease 0.3s;
  outline: none;
  font-size: 17px;
  width: 10rem;
}
.light-on-hover:hover {
  filter: brightness(1.30);
}
.command-button {
  background-color: theme('colors.PurpleDark');
  border-radius: 0;
  height: 2.2rem;
}
.command-button:hover {
  background-color: theme('colors.PurpleLight');
}
.border {
  border: 2px solid theme('colors.PurpleDark');
}
input {
  border: 2px solid theme('colors.PurpleLight');
  background-color: theme('colors.GrayLight');
  border-radius: 0;
}
input:focus {
  @apply outline-none;
}
::placeholder {
  color: theme('colors.GrayDarker');
}
.copy {
  cursor: pointer;
  position: relative;
  top: 0.2rem;
  left: 1rem;
}
.consoleText {
  font-family: Consolas;
}

@media screen and (max-width:800px){
  .grid-container {
    grid-template-columns: auto;
  }
}
</style>
