<template>
  <div class='flex flex-col bg-gray-200 p-5'>
    <div v-if="isServerRunning">
    <div class='ping-container'>
      <p
        class='text-PurpleLight text-left pt-0 text-1xl py-2'
      >{{ $t('telemetry.ping_subtitle') }}</p>
    </div>
    <div>
      <line-chart :chart-data='dataPing' :options='optionsPing' :styles="{height: '20rem', position: 'relative', text:'white'}" :key="dataPing.datasets[0].data.length"></line-chart>
    </div>
    <div class='players-container'>
      <p
        class='text-PurpleLight text-left text-1xl py-2'
      >{{ $t('telemetry.number_players_subtitle') }}</p>
    </div>
    <div>
      <line-chart :chart-data='dataPlayers' :options='optionsPlayers' :styles="{height: '20rem', position: 'relative'}" :key="dataPlayers.datasets[0].data.length"></line-chart>
    </div>
    </div>
    <div class="w-full" v-if="!isServerRunning">
      <p>{{ $t('telemetry.no_running_server') }}</p>
      <img @load="onImgLoad"
      src="https://cdn.odeyr.org/illustrations/telemetry.svg" />
      <router-link v-if="isLoaded" :to="{ name: 'ServerControls' }">
        <button class="py-3 px-10 mt-3 button-illustration">{{ $t('telemetry.button_message') }}</button>
      </router-link>
    </div>
  </div>
</template>

<script>
import LineChart from '@/components/LineChart'
import tailwindConfig from './../../../tailwind.config'

export default {
  name: 'TelemetryInformations',
  components: {
    LineChart
  },
  data() {
    return {
      lastNotNullPingValue: 0,
      interval: Object,
      isLoaded: false,
      isServerRunning: false,
      dataPing: {
        datasets: [
          {
            backgroundColor: tailwindConfig.theme.colors.PingChart.Background,
            pointBorderColor: tailwindConfig.theme.colors.PingChart.Border,
            borderColor: tailwindConfig.theme.colors.PingChart.Border,
            pointBackgroundColor: tailwindConfig.theme.colors.PingChart.Border,
            fillOpacity: 0.3,
            label: this.$t('telemetry.ping_subtitle'),
            data: []
          }
        ]
      },
      optionsPing: {
        legend: {
          display: false
        },
        elements: {
          line: {
            tension: 0
          }
        },
        animation: false,
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            gridLines: {
              display: false
            },
            ticks: {
              maxTicksLimit: 30
            },
            type: 'time',
            display: false,
            distribution: 'series'
          }],
          yAxes: [{
            gridLines: {
              color: tailwindConfig.theme.colors.chartLines,
              zeroLineColor: tailwindConfig.theme.colors.chartLines
            },
            ticks: {
              beginAtZero: true,
              maxTicksLimit: 10,
              max: 250
            },
            display: true
          }]
        }
      },
      dataPlayers: {
        datasets: [
          {
            backgroundColor: tailwindConfig.theme.colors.PlayersChart.Background,
            pointBorderColor: tailwindConfig.theme.colors.PlayersChart.Border,
            borderColor: tailwindConfig.theme.colors.PlayersChart.Border,
            pointBackgroundColor: tailwindConfig.theme.colors.PlayersChart.Border,
            label: this.$t('telemetry.number_players_subtitle'),
            data: []
          }
        ]
      },
      optionsPlayers: {
        legend: {
          display: false
        },
        elements: {
          line: {
            tension: 0
          }
        },
        animation: false,
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            gridLines: {
              display: false
            },
            ticks: {
              maxTicksLimit: 30
            },
            type: 'time',
            display: false,
            distribution: 'series'
          }],
          yAxes: [{
            gridLines: {
              color: tailwindConfig.theme.colors.chartLines,
              zeroLineColor: tailwindConfig.theme.colors.chartLines
            },
            ticks: {
              beginAtZero: true,
              maxTicksLimit: 10,
              suggestedMin: 0,
              suggestedMax: 10,
              precision: 0
            },
            display: true
          }]
        }
      }
    }
  },
  created() {
    this.$apollo.query({
      query: require('../../graphql/server/singleServerOfMine.gql'),
      variables: {
        id: this.$store.state.servers.selected.id
      }
    }).then(response => {
      if(response.data.me.servers[0].status === 'RUNNING') {
        this.isServerRunning = true
        this.fetchInfoServer()
        this.interval = setInterval(() => {
          this.fetchInfoServer()
        }, 2000)
      }
    })
  },
  methods: {
    onImgLoad() {
      this.isLoaded = true
    },
    async fetchInfoServer() {
      if(this.dataPing.datasets[0].data.length >= 30) {
        this.dataPing.datasets[0].data.shift()
      }
      if(this.dataPlayers.datasets[0].data.length >= 30) {
        this.dataPlayers.datasets[0].data.shift()
      }
      this.$apollo.query({
        query: require('../../graphql/server/telemetryServer.gql'),
        variables: {
          serverId: this.$store.state.servers.selected.id
        },
        fetchPolicy: 'no-cache'
      }).then(response => {
        if(response.data.telemetryInfo && response.data.telemetryInfo.serverStatus !== 'offline') {
          if(response.data.telemetryInfo.ping == null) {
            this.dataPing.datasets[0].data.push({
              x: Date.now(),
              y: this.lastNotNullPingValue
            })
          } else {
            this.dataPing.datasets[0].data.push({
              x: Date.now(),
              y: response.data.telemetryInfo.ping
            })
            this.lastNotNullPingValue = response.data.telemetryInfo.ping
          }
          this.dataPlayers.datasets[0].data.push({
            x: Date.now(),
            y: response.data.telemetryInfo.players
          })
        }
      }).catch(error => {
        console.error(error)
      })
    }
  },
  beforeDestroy: function() {
    clearInterval(this.interval)
    this.interval = null
  }
}
</script>

<style lang="less" scoped>
img {
  position: fixed;
  top: 130px;
  right: 130px;
  width: 650px;
  float: right;
}
.button-illustration{
  float: left;
  padding-top: 0rem;
  padding-bottom: 0rem;
  height: 2.2rem;
}
p {
  margin: 0.1rem;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
}
@media screen and (max-width:1300px){
  p {
    margin-left: 0.7rem;
  }
  img{
    display: none;
  }
  .button-illustration{
    margin-right: 1rem;
    height: 3rem;
  }
}
</style>
