<template>
  <div id="app" class="select-none"
  v-bind:class="this.$store.state.prefs.isDarkTheme ? 'dark-theme' : 'light-theme'">
    <component :is="layout">
      <router-view/>
    </component>
  </div>
</template>
<style src="@/assets/css/global.css"></style>
<style src="sweetalert2/dist/sweetalert2.min.css"></style>

<style>
#app {
  font-family: 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: theme('colors.text');
  background-color: theme('colors.Background');
}
</style>

<script>
const DefaultLayout = 'default'

export default {
  computed: {
    layout() {
      return (this.$route.meta.layout || DefaultLayout) + '-layout'
    }
  }
}
</script>
