<template>
  <div class="main_container" v-cloak>
    <div class="_container">
      <router-view/>
    </div>
  </div>
</template>
<style src="@/assets/css/global.css"></style>

<script>
export default {
  name: 'DefaultLayout'
}
</script>

<style scoped>
[v-cloak] {
  display: none;
}
body, #app, .main_container {
  min-height: 100vh;
}
._container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
</style>
