<template>
  <div class="main_container" v-cloak>
    <div class="_container">

      <Sidebar></Sidebar>

      <div id="app-content">
        <div class="flex flex-row title">
          <h1 class="mt-auto mb-auto mr-auto text-PurpleLight text-left text-2xl title">{{ $t($route.meta.pageName + '.title') }}</h1>
          <div class="flex flex-row profile">
            <ProfileDropdown/>
          </div>
        </div>

        <router-view/>
      </div>
    </div>
  </div>
</template>
<style src="@/assets/css/global.css"></style>

<style lang="less" scoped>
body, #app, .main_container {
  min-height: 100vh;
}
._container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}
#app-content {
  padding-left: 275px;
}
.title {
  margin-top: 0.65rem;
  margin-left: 0.65rem;
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  #app-content {
    padding-left: 100px;
  }
  .title {
    margin-left: 15px;
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) and (min-width: 350px) {
  #app-content {
    padding-left: 15px;
    padding-top: 40px;
  }
  .title{
    margin-top: -0.1rem;
    margin-left: 0.7rem;
    font-size: 23px;
  }
}

@media screen and (max-width: 350px) {
  #app-content {
    padding-left: 10px;
    padding-top: 40px;
  }
  .title{
    margin-top: -0.1rem;
    margin-left: 0.7rem;
    font-size: 23px;
  }
}
</style>

<script>
import Sidebar from '@/components/Sidebar'
import ProfileDropdown from '@/components/ProfileDropdown'

export default {
  name: 'SidebarOnlyLayout',
  components: {
    Sidebar,
    ProfileDropdown
  }
}
</script>
