<template>
  <div class="bg-gray-200 p-5">
    <div class="w-full flex flex-col">
      <p class="flex-1 text-text text-left text-1xl">{{ $t('email_confirmed.thank_you_message') }}</p>
      <div class="flex-1 text-left">
        <router-link tag="button" class="button-illustration px-4 my-3" :to="{ name: 'ServerSelection' }">{{ $t('email_confirmed.start_using') }}</router-link>
      </div>
      <img class="img" src="https://cdn.odeyr.org/illustrations/email-confirmed.svg" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'EmailConfirmed'
}
</script>

<style lang="less" scoped>
.img {
  position: fixed;
  top: 130px;
  right: 130px;
  width: 600px;
  float: right;
}
p {
  text-align: justify;
}

@media screen and (max-width:1300px) and (min-width:900px){
  .img {
    position: fixed;
    top: 130px;
    right: 0px;
    width: 400px;
    float: right;
  }
}

@media screen and (max-width:900px) and (min-width:850px){
  .img {
    position: fixed;
    top: 130px;
    right: 40px;
    width: 500px;
    float: right;
  }
}

@media screen and (max-width:850px) {
  .img {
    position: static;
    display: block;
    top: 350px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    float: center;
  }
  p {
    margin-left: 10px;
  }
  button {
    margin-left: 10px;
  }
}
</style>
