<template>
  <auth-template :title="$t('forgot_password.title')">
    <alerts-display :successes="successes" :errors="errors"/>

    <custom-input
      :label="$t('forgot_password.email_input')"
      :error="fieldsErrors.email"
      type="email"
      name="email"
      required
      v-model.trim="$v.email.$model"
      :model="$v.email"
    />

    <div class="flex flex-col py-5">
      <button
        @click.prevent="attemptForgotPassword()"
        class="button-primary w-full sm:w-1/3"
        :disabled="isLoading"
        :class="{ spinner: isLoading }"
      >
        {{ $t('action.send') }}
      </button>
    </div>

    <div class="flex items-center">
      <p class="text-text text-left underline hover:text-PurpleLight"><router-link :to="{ name: 'Login'}" class="hover:text-PurpleLight">{{ $t('forgot_password.login_link') }}</router-link></p>
    </div>
  </auth-template>
</template>

<script>
import AuthTemplate from '@/components/AuthTemplate'
import validationMessage from '../../validationMapping'
import { required, email } from 'vuelidate/lib/validators'

export default {
  name: 'ForgotPassword',
  components: {
    AuthTemplate
  },
  data() {
    return {
      email: '',
      fieldsErrors: {},
      errors: [],
      successes: [],
      isLoading: false
    }
  },
  validations: {
    email: {
      required,
      email
    }
  },
  methods: {
    attemptForgotPassword() {
      this.isLoading = true
      if(this.$v.$invalid) {
        this.errors = [
          'FIX_ERRORS'
        ]
        this.fieldsErrors = {
          email: validationMessage(this.$v.email)
        }
        this.isLoading = false
        return
      }

      this.$store.dispatch('auth/sendPasswordResetToken', { email: this.email })
        .then((response) => {
          if(response) {
            this.showSuccess()
          }
        })
        .catch(error => {
          console.error(error)
          this.isLoading = false

          error.graphQLErrors.map(({ extensions }) => {
            this.errors = Object.values(extensions)
            this.fieldsErrors = {
              email: true
            }

            if(this.errors.includes('USER_INVALID')) {
              this.showSuccess()
            }
          })
        })
    },
    showSuccess() {
      this.successes = [
        'RESET_PASSWORD_SENT'
      ]
      this.errors = []
      this.email = ''
      this.fieldsErrors = {}
      this.isLoading = false
    }
  }
}
</script>

<style lang="less">
  .button-primary {
    width: 10rem;
    height: 2.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

@media screen and (max-width: 500px) {
  .button-primary {
    width: 100%;
  }
}
</style>
