<template>
  <auth-template :title="$t('login.title')">
    <alerts-display :errors="errors"/>

    <custom-input
      :label="$t('login.email_input')"
      :error="fieldsErrors.email"
      type="email"
      name="email"
      required
      v-model.trim="$v.email.$model"
      :model="$v.email"
    />
    <custom-input
      :label="$t('login.password_input')"
      :error="fieldsErrors.password"
      type="password"
      name="password"
      required
      v-model.trim="$v.password.$model"
      :model="$v.password"
    />

    <p class="text-text text-right underline hover:text-PurpleLight"><router-link :to="{ name: 'ForgotPassword'}" class="hover:text-PurpleLight smaller forgot-password">{{ $t('login.forgot_password') }}</router-link></p>

    <div class="flex flex-col py-5">
      <button
        @click.prevent="attemptLogin()"
        class="button-primary w-full sm:w-1/2"
        :disabled="isLoading"
        :class="{ spinner: isLoading }"
      >
        {{ $t('login.inscription_link') }}
      </button>
    </div>

    <div class="flex items-center py-2">
      <p class="pr-2 text-text smaller">{{ $t('login.no_account_message') }}</p>
      <p class="underline text-text hover:text-PurpleLight register">
        <router-link :to="{ name: 'Register'}" class="hover:text-PurpleLight">{{ $t('action.register') }}</router-link>
      </p>
    </div>
  </auth-template>
</template>

<script>
import AuthTemplate from '@/components/AuthTemplate'
import validationMessage from '../../validationMapping'
import { required, email } from 'vuelidate/lib/validators'

export default {
  name: 'Login',
  components: {
    AuthTemplate
  },
  data() {
    return {
      email: '',
      password: '',
      errors: [],
      fieldsErrors: {},
      isLoading: false
    }
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  },
  methods: {
    attemptLogin() {
      this.isLoading = true

      if(this.$v.$invalid) {
        this.errors = [
          'FIX_ERRORS'
        ]
        this.fieldsErrors = {
          email: validationMessage(this.$v.email),
          password: validationMessage(this.$v.password)
        }
        this.isLoading = false
        return
      }

      this.$store.dispatch('auth/login', { email: this.email, password: this.password })
        .then((response) => {
          if(response) {
            this.isLoading = false
            this.$router.push({ name: 'ServerSelection' })
          }
        })
        .catch(error => {
          console.error(error)
          this.isLoading = false

          error.graphQLErrors.map(({ extensions }) => {
            this.errors = Object.values(extensions)
            this.fieldsErrors = {
              email: true,
              password: true
            }
          })
        })
    }
  }
}
</script>

<style lang="less" scoped>
  .button-primary {
    width: 10rem;
    height: 2.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .register {
    flex-shrink: 0;
    font-size: 18px;
  }
  .forgot-password {
    position: relative;
    top: -1rem;
    font-size: 17.5px;
  }
  .smaller{
    font-size: 18px;
  }

@media screen and (max-width: 500px) {
  .button-primary {
    width: 100%;
  }
  .smaller{
    font-size: 18.5px;
  }
  .register {
    font-size: 18px;
    flex-shrink: 0;
  }
}
</style>
