<template>
  <auth-template :title="$t('password_reset.title')">
    <alerts-display :successes="successes" :errors="errors"/>

    <div v-if="successes.length === 0">
      <custom-input
        :label="$t('password_reset.new_password_input')"
        :error="fieldsErrors.password"
        type="password"
        name="password"
        required
        v-model.trim="$v.password.$model"
        :model="$v.password"
      />
      <custom-input
        :label="$t('password_reset.confirm_new_password_input')"
        :error="fieldsErrors.passwordConfirm"
        type="password"
        name="passwordConfirm"
        required
        v-model.trim="$v.passwordConfirm.$model"
        :model="$v.passwordConfirm"
      />

      <div class="flex flex-col py-5">
        <button
          @click.prevent="attemptPasswordReset()"
          class="button-primary w-full sm:w-1/2"
          :disabled="isLoading"
          :class="{ spinner: isLoading }"
        >
          {{ $t('action.send') }}
        </button>
      </div>
    </div>
    <div v-if="successes.length > 0">
      <div class="flex flex-col py-5">
        <router-link class="text-text underline hover:text-PurpleLight" :to="{ name: 'Login' }">{{ $t('password_reset.return_to_login') }}</router-link>
      </div>
    </div>
  </auth-template>
</template>

<script>
import AuthTemplate from '@/components/AuthTemplate'
import validationMessage from '../../validationMapping'
import { required, sameAs } from 'vuelidate/lib/validators'

export default {
  name: 'PasswordReset',
  components: {
    AuthTemplate
  },
  data() {
    return {
      errors: [],
      successes: [],
      fieldsErrors: {},
      isLoading: false,
      password: '',
      passwordConfirm: ''
    }
  },
  validations: {
    password: {
      required
    },
    passwordConfirm: {
      required,
      sameAs: sameAs('password')
    }
  },
  methods: {
    attemptPasswordReset() {
      this.isLoading = true
      if(this.$v.$invalid) {
        this.errors = [
          'FIX_ERRORS'
        ]
        this.fieldsErrors = {
          password: validationMessage(this.$v.password),
          passwordConfirm: validationMessage(this.$v.passwordConfirm)
        }
        this.isLoading = false

        return
      }

      this.$store.dispatch('auth/resetPassword', { password: this.password, token: this.$route.params.token })
        .then((response) => {
          if(response) {
            this.successes = [
              'PASSWORD_SUCCESSFULLY_RESET'
            ]
            this.errors = []
            this.fieldsErrors = {}
            this.isLoading = false

            this.password = ''
            this.passwordConfirm = ''
          }
        })
        .catch(error => {
          console.error(error)
          this.isLoading = false

          error.graphQLErrors.map(({ extensions }) => {
            this.errors = Object.values(extensions)
            this.fieldsErrors = {
              password: true,
              passwordConfirm: true
            }
          })
        })
    }
  }
}
</script>
