<template>
  <auth-template :title="$t('register.title')">
    <alerts-display :errors="errors" :successes="successes"/>

    <custom-input
      :label="$t('register.username_input')"
      :error="fieldsErrors.username"
      type="text"
      name="username"
      required
      v-model.trim="$v.username.$model"
      :model="$v.username"
    />
    <custom-input
      :label="$t('register.email_input')"
      :error="fieldsErrors.email"
      type="email"
      name="email"
      required
      v-model.trim="$v.email.$model"
      :model="$v.email"
    />
    <custom-input
      :label="$t('register.password_input')"
      :error="fieldsErrors.password"
      type="password"
      name="password"
      required
      v-model.trim="$v.password.$model"
      :model="$v.password"
    />
    <custom-input
      :label="$t('register.confirm_input')"
      :error="fieldsErrors.passwordConfirm"
      type="password"
      name="passwordConfirm"
      required
      v-model.trim="$v.passwordConfirm.$model"
      :model="$v.passwordConfirm"
    />

    <div class="flex items-center justify-between py-5">
      <button
        @click.prevent="attemptRegister()"
        class="button-primary"
        :disabled="isLoading"
        :class="{ spinner: isLoading }"
      >
        {{ $t('action.register') }}
      </button>
    </div>

    <div class="flex items-center py-2">
      <p class="pr-2 text-text smaller">{{ $t('register.have_account_message') }}</p>
      <p class="underline text-text hover:text-PurpleLight login"><router-link :to="{ name: 'Login'}" class="hover:text-PurpleLight">{{ $t('register.login_link') }}</router-link></p>
    </div>
  </auth-template>
</template>

<script>
import AuthTemplate from '@/components/AuthTemplate'
import validationMessage from '../../validationMapping'
import { required, email, sameAs } from 'vuelidate/lib/validators'

export default {
  name: 'Register',
  data() {
    return {
      username: '',
      email: '',
      password: '',
      passwordConfirm: '',
      errors: [],
      successes: [],
      fieldsErrors: {},
      isLoading: false
    }
  },
  validations: {
    username: {
      required
    },
    email: {
      required,
      email
    },
    password: {
      required
    },
    passwordConfirm: {
      required,
      sameAs: sameAs('password')
    }
  },
  methods: {
    attemptRegister() {
      this.isLoading = true

      if(this.$v.$invalid) {
        this.errors = [
          'FIX_ERRORS'
        ]
        this.fieldsErrors = {
          username: validationMessage(this.$v.username),
          email: validationMessage(this.$v.email),
          password: validationMessage(this.$v.password),
          passwordConfirm: validationMessage(this.$v.passwordConfirm)
        }
        this.isLoading = false
        return
      }

      this.$store.dispatch('auth/register', { email: this.email, password: this.password, username: this.username })
        .then((response) => {
          if(response) {
            this.successes = [
              'ACCOUNT_CREATED'
            ]
            this.errors = []
            this.username = ''
            this.email = ''
            this.password = ''
            this.passwordConfirm = ''
            this.isLoading = false
          }
        })
        .catch(error => {
          console.error(error)
          this.isLoading = true

          error.graphQLErrors.map(({ extensions }) => {
            this.errors = Object.values(extensions)

            if(this.errors.includes('EMAIL_ALREADY_USED')) {
              this.fieldsErrors.email = this.$t('errors.EMAIL_ALREADY_USED')
            } else {
              this.fieldsErrors = {
                username: true,
                email: true,
                password: true,
                passwordConfirm: true
              }
            }
          })
        })
    }
  },
  components: {
    AuthTemplate
  }
}
</script>

<style lang="less" scoped>
.register {
  flex-shrink: 0;
}
.button-primary {
  width: 10rem;
  height: 2.5rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
@media screen and (max-width: 500px) {
  .button-primary {
    width: 10rem;
    height: 2.5rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  .smaller{
    font-size: 19px;
  }
  .login {
    font-size: 19px;
    flex-shrink: 0;
  }
}
</style>
