<template>
  <div class="flex flex-col w-full">
    <alerts-display :class="{ 'm-5 mb-0 w-1/4': errors.length > 0 }" :errors="errors"/>

    <div class="flex-1 mt-5 pl-5 w-full" v-if="!$route.params.token">
      <div class="flex flex-col items-start justify-start" v-if="!isChangingEmail">
        <p class="text-left text-1xl pb-5">{{ $t('verify_email.verification_email_sent', { email: user.email }) }}</p>

        <div class="py-5">
          <button class="button-primary mr-5 button" @click="resendEmail" :disabled="isResendDisabled">{{ isResendDisabled ? timeLeft : $t('verify_email.resend_email') }}</button>
          <button class="button-primary button" @click="isChangingEmail = !isChangingEmail">{{ $t('verify_email.change_email') }}</button>
        </div>
      </div>
      <div class="flex flex-col items-center sm:items-start justify-start w-full" v-if="isChangingEmail">
        <p class="text-2xl mr-auto">{{ $t('verify_email.change_email') }}</p>
        <form novalidate class="mt-5 w-full lg:w-1/3">
          <custom-input
            type="email"
            :label="$t('verify_email.new_email_input')"
            :error="fieldsErrors.newEmail"
            v-model.trim="$v.newEmail.$model"
            :model="$v.newEmail"
          />
        </form>
        <div class="flex flex-col sm:flex-row mt-5">
          <button class="button-primary w-full mr-5 cancel bg-GrayDark" @click="isChangingEmail = !isChangingEmail">{{ $t('action.cancel') }}</button>
          <button class="button-primary w-full button" @click="changeEmail" :disabled="isResendDisabled">{{ isResendDisabled ? timeLeft : $t('verify_email.change_email') }}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import validationMessage from '../../validationMapping'
import { required, email } from 'vuelidate/lib/validators'

export default {
  name: 'VerifyEmail',
  data() {
    return {
      newEmail: '',
      isChangingEmail: false,
      timeToWait: '',
      errors: [],
      fieldsErrors: {}
    }
  },
  validations: {
    newEmail: {
      required,
      email
    }
  },
  mounted() {
    if(this.$route.params.token) {
      if(this.$store.getters['auth/isConfirmed']) this.$router.push({ name: 'EmailConfirmed' })

      this.$store.dispatch('auth/verify', { token: this.$route.params.token })
        .then(response => {
          if(response) this.$router.push({ name: 'EmailConfirmed' })
        })
        .catch(error => {
          console.error(error)
          error.graphQLErrors.map(({ extensions }) => {
            this.errors = Object.values(extensions)
          })
        })
    }
  },
  computed: {
    timeLeft() {
      return this.timeToWait
    },
    ...mapState('auth', {
      user: 'user',
      emailCooldown: 'emailCooldown',
      isResendDisabled(state) {
        if(state.emailCooldown) {
          const time = typeof this.emailCooldown === 'string' ? this.moment(this.emailCooldown) : this.emailCooldown

          if(time.diff(this.moment()) > 0) {
            this.waitTime()
            return true
          }
          return false
        }
        return false
      }
    })
  },
  methods: {
    waitTime() {
      const interval = setInterval(() => {
        if(!this.emailCooldown) return

        const time = typeof this.emailCooldown === 'string' ? this.moment(this.emailCooldown) : this.emailCooldown
        const timeDiff = time.diff(this.moment())
        const timeToWait = this.moment.duration(timeDiff)

        this.timeToWait = timeToWait.minutes() + ':' + (timeToWait.seconds() < 10 ? '0' + timeToWait.seconds() : timeToWait.seconds())

        if(timeDiff <= 0) {
          clearInterval(interval)
          this.$store.dispatch('auth/emailCooldownFinished')
        }
      }, 1000)
    },
    resendEmail() {
      this.errors = []

      this.$store.dispatch('auth/resendVerificationEmail', null)
        .catch(error => {
          console.error(error)
          error.graphQLErrors.map(({ extensions }) => {
            this.errors = Object.values(extensions)
          })
        })
    },
    changeEmail() {
      if(this.$v.$invalid) {
        this.errors = [
          'FIX_ERRORS'
        ]
        this.fieldsErrors = {
          newEmail: validationMessage(this.$v.newEmail)
        }
        return
      }
      this.errors = []

      this.$store.dispatch('auth/resendVerificationEmail', this.newEmail)
        .then(response => {
          if(response) {
            this.newEmail = ''
            this.isChangingEmail = false
          }
        })
        .catch(error => {
          console.error(error)

          error.graphQLErrors.map(({ extensions }) => {
            this.errors = Object.values(extensions)

            if(this.errors.includes('EMAIL_ALREADY_USED')) this.fieldsErrors.newEmail = this.$t('errors.EMAIL_ALREADY_USED')
          })
        })
    }
  }
}
</script>

<style lang="less" scoped>
.button {
  min-width: 14rem;
  height: 2.2rem;
}
.cancel {
  min-width: 14rem;
  height: 2.2rem;
}
.cancel:hover {
  background-color: theme('colors.GrayLighter');
}

@media screen and (max-width: 900px) {
.resendEmail {
  margin-bottom: 1rem;
}
.cancel {
  margin-bottom: 1rem;
  margin-right: auto;
}
}
</style>
